{% load reviews_tags %}
{% load i18n %}

{% comment %}
{% block product_stock_record %}
{% include "catalogue/partials/stock_record.html" with verbose=1 %}
{% endblock %}
{% endcomment %}

{% if product.rating != None %}
<h3 class="star-rating {{ product.rating|as_stars }}">
    <i class="icon-star"></i>
    <i class="icon-star"></i>
    <i class="icon-star"></i>
    <i class="icon-star"></i>
    <i class="icon-star"></i>

    <small><a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}">
            {% blocktrans count product.num_approved_reviews as num_reviews %}
            {{ num_reviews }} avis
            {% plural %}
            {{ num_reviews }} avis
            {% endblocktrans %}
        </a></small>
</h3>
<p>
&nbsp;
{% for label, score in product.ratings %}
<p class="star-rating {{ score|as_stars }}">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
{{ label }}
</p>
{% endfor %}
<br>
<big>{{ product.difficulty_rating }}</big> / 10 <span class="star-rating">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Difficulté</span>
<br>
{% else %}
<p>
{% endif %}

{% if product|is_review_permitted:user %}
<br>
<a id="write_review" href="{% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id %}#addreview" class="btn btn-success text-center">
    {% trans "Merci de donner ton avis si tu<br>veux recommencer le dossier" %}
</a>
{% endif %}
</p>
