{% extends 'account/email/email_base.html' %}

{% block body %}
<div style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:12px;line-height:14px;color:#ffffff;text-align:left;">
    <p style="margin: 0;font-size: 12px;line-height: 14px">
    <span style="color: rgb(230, 185, 255); font-size: 12px; line-height: 14px;">
        <strong>
            <span style="font-size: 24px; line-height: 28px;">
                <span style="color: rgb(255, 204, 153); font-size: 24px; line-height: 28px;">
                    Tu es bien abonné.</span>
            </span>
        </strong>
    </span>
    <br>
    </p>
    <p style="margin: 0;font-size: 12px;line-height: 14px">
    <span style="color: rgb(255, 204, 153); font-size: 12px; line-height: 14px;">
        &nbsp;</span>
    <br>
    </p>
    <p style="margin: 0;font-size: 12px;line-height: 14px">
    <span style="color: rgb(255, 204, 153); font-size: 12px; line-height: 14px;">
        &nbsp;</span>
    <br>
    </p>
    <p style="margin: 0;font-size: 12px;line-height: 14px">
    <span style="color: rgb(255, 204, 153); font-size: 18px; line-height: 21px;">
        <strong>
            <span style="line-height: 21px; font-size: 18px;">
                Merci pour ta confiance et ton soutien au projet BlouseBrothers.<br>
            </span>
        </strong>
    </span>
    </p>
    <p style="margin: 0;font-size: 12px;line-height: 14px">
    <span style="color: rgb(255, 204, 153); font-size: 18px; line-height: 21px;">
        <strong>
            <span style="line-height: 21px; font-size: 18px;">
                <br data-mce-bogus="1">
            </span>
        </strong>
    </span>
    </p>
    <p style="margin: 0;font-size: 12px;line-height: 14px">
    <span style="color: rgb(255, 204, 153); font-size: 18px; line-height: 21px;">
        <strong>
            <span style="line-height: 21px; font-size: 18px;">
                Ton abonnement de 12 mois démarrera le jour de l'ouverture de BlouseBrothers: nous te préviendrons dès que ce sera le cas (ça ne va pas tarder).<br data-mce-bogus="1">
            </span>
        </strong>
    </span>
    </p>
</div>

{% endblock body %}
