{% load i18n %}
{% load currency_filters %}
{% load bbtricks %}

<div class="text-center">
    {% if product.no_confirmation_needed %}
    <form action="{% url 'basket:add' pk=product.pk %}" method="post">
        {% csrf_token %}
        {{ basket_form.as_p }}
        <input id="id_quantity" name="quantity" type="hidden" value="1">
    {% endif %}
        <button 
         {% if product.no_confirmation_needed %}
            type="submit" data-loading-text="{% trans 'Démarrage...' %}" 
         {% else %} 
            data-toggle="modal" data-productTitle="{{product.conf.title}}" data-target="#confirm-go" data-productId="{{product.pk}}" data-productPrice="{{ session.price.excl_tax|currency:session.price.currency }}" data-productURL="{{ product.get_absolute_url }}"
         {% endif %} 
         class="btn btn-gray btn-go">
         {% if product.conf %}
            {% if user|already_done:product.conf %}
              {% if user|test_finished:product.conf %}
                 <i class="fa fa-star-half-o" aria-hidden="true"></i>
                 {% trans "Voir la correction" %}</button>
              {% else %}
                 <i class="fa fa-repeat" aria-hidden="true"></i>
                 {% trans "Reprendre" %}</button>
              {% endif %}
            {% else %}
              <i class="fa fa-graduation-cap" aria-hidden="true"></i>
              {% trans "S'entrainer" %}</button>
           {% endif %}
        {% else %}
           {% trans "Add to basket" %}</button>
        {% endif %}
    {% if product.no_confirmation_needed %}
    </form>
    {% endif %}
</div>

