{% load activeurl %}

<div class="pagehead repohead instapaper_ignore experiment-repo-nav">
    <div class="container">
        {% activeurl css_class="selected" parent_tag="self" %}
        <nav class="reponav">
            <a href="{% url 'catalogue:index' %}" class="reponav-item">
                <i class="fa fa-folder" aria-hidden="true"></i>
                <span itemprop="name">Dossiers disponibles
                </span>
                {% if user.nb_new_confs %}
                <span class="Counter">{{ user.nb_new_confs }}
                </span>
                {% endif %}
            </a>    
            <a href="{% url 'confs:home' %}" class="reponav-item">
                <i class="fa fa-signal" aria-hidden="true"></i>
                <span>Tableau de bord
                </span>
            </a>  
            <a href="{% url 'confs:create' %}" class="reponav-item">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Créer un dossier 
            </a>
            <a href="{% url 'confs:list' %}" class="reponav-item">
                <i class="fa fa-list" aria-hidden="true"></i>
                <span itemprop="name">Mes dossiers créés
                </span>
            </a>  
        </nav>
        {% endactiveurl %}
    </div>
</div>
