{% extends "account/base.html" %}

{% load account %}
{% load socialaccount %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block header %}
{% endblock header %}

{% block main_container_class %}{% endblock %}
{% block title %}{% trans "Signup" %}{% endblock title %}

{% block content_wrapper %}

<div class="signup">
<div class="{% block extra_slide_class %}{% endblock%} slide slide1  container">
      <div class="row slide1-top">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
              <div class="space"></div>
	            {% include "partials/alert_messages.html" %}
              {% if demo_form %}
              <div class="col-md-6">
                  <h2 class="text-left;">Booste ta préparation aux ECNi avec BlouseBrothers</h2>
                  Méthode, contenu, feedback... Essaie.
                  <div class="space"></div>
                  <div class="space"></div>
                  <div class="space"></div>
                  <form action="{% url 'demologin' %}" id="signup_form" method="post">
                      <div class="row">
                          <div class="col-xs-3">
                              <img class="logo-slide1" src="{% static "images/retro/4.jpg" %}" alt="Logo fin de révision">
                          </div>
                          <div class="col-xs-9">
                              <div class="form-group">
                                  {{ demo_form }}
                                  {% csrf_token %}
                                  <input id="id_login" name="login" type="hidden" value="demo@blousebrothers.fr">
                                  <input id="id_password" name="password" type="hidden" value="demo@blousebrothers.fr">
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-6">
                              <i class="fa fa-long-arrow-down pull-right" aria-hidden="true" style="top: -40px; right: 30px; position: absolute; transform: rotate(45deg); font-size: 36pt; float: right;"></i>
                              <button id="demo-conf-button" class="btn btn-primary pull-right" type="submit" name="conf" value="conf">faire un dossier</button>
                          </div>
                          <div class="col-xs-6">
                              <i class="fa fa-long-arrow-down pull-left" style="top: -40px; left: 30px; position: absolute; transform: rotate(-45deg); font-size: 36pt;" aria-hidden="true"></i>
                              <button id="demo-cards-button" class="btn btn-primary pull-left" type="submit" name="card" value="card">réviser des fiches</button>
                          </div>
                      </div> <!-- row -->
                  </form>                  

              </div>
              <div class="col-md-6">
              {% else %}
              <div class="col-md-3">
              </div>
              <div class="col-md-6">
              {% endif %}
                  <div class="space"></div>
                  <h2 class="text-center">Apprendre la médecine</h2>
                  <div class="space"></div>
                  <div class="tcenter">
                  <form method="post" action="{% url 'demologin' %}" class="box-search pull-left">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <div class="input-group stylish-input-group">
                                  <input type="text" class="form-control"  id="id_search" name="search" placeholder="J'ai envie de réviser..." value="{{request.GET.search}}">
                                  <input id="id_login" name="login" type="hidden" value="demo@blousebrothers.fr">
                                  <input id="id_password" name="password" type="hidden" value="demo@blousebrothers.fr">
                                  <span class="input-group-addon">
                                      <button type="submit">
                                          <span class="glyphicon glyphicon-search"></span>
                                      </button>  
                                  </span>
                              </div>
                          </h4>
                      </div>
                  </form>
                  <div class="space"></div>
                  <a class="btn" href="{% url 'signup' %}">Créer mon compte</a>
                  <a class="btn" href="{% url 'account_login' %}">Me connecter</a>
                  </div>
                  <div class="space"></div>
                  <div class="space"></div>
              </div>
          </div>
          <div class="col-md-2">
          </div>
          <div class="space"></div>
      </div>
      <div class="row slide1-bottom">
          <div class="space"></div>
          <div class="col-md-12 text-center">
              <div class="col-md-4">
                  <img class="homecircle" src="{% static "images/home/1.png" %}" alt="Logo fin de révision"/>
                  <h3>Planning de révisions optimisé</h3>
                  <p>Révise ce qui t'intéresse à l'aide de nos fiches de révisions. Fais des DCP et des QI dans les matières en rapport. Tu visualises tes résultats comparativement à ceux des autres utilisateurs. L'algorithme réorganise tes révisions et te suggère ce que tu as besoin de travailler selon tes résultats.
                  </p>

              </div>
              <div class="col-md-4">
                  <img class="homecircle" src="{% static "images/home/2.png" %}" alt="Logo fin de révision">
                  <h3>Création et évaluation par les membres</h3>
                  <p>
                  Si un Conférencier décide de mettre sa conf en accès gratuit, tout le monde peut y accéder. Tout le monde. Sinon, l'abonnement te permet d'accéder sans limites à tous les dossiers du site, ce qui permet de soutenir les Conférenciers et notre travail. Tu peux évaluer tous les dossiers et voir les évaluations des autres. Un forum est présent à la fin de chaque dossier pour échanger avec le Conférencier.
                  </p>
              </div>
              <div class="col-md-4">
                  <img class="homecircle" src="{% static "images/home/3.png" %}" alt="Logo fin de révision">
                  <h3>Technologie d'apprentissage adaptative</h3>
                  <p>Blousebrothers se base sur une technique d’apprentissage basée sur des révisions à intervalles régulier pour s'adapter à ton style d'apprentissage personnel et à tes résultats. Comme ça tu apprends vite et tu n'oublies jamais !
                  </p>
              </div>
          </div>
      </div> <!-- row -->
</div> <!-- end slide1 -->    
<!-- slide 2-->
  <div class="slide2 slide container">
      <div class="row">
          <div class="col-xs-12 col-md-6 bg_left tcenter">
              <div class="centrage">
                  <h3>Indépendance</h3>
                  <span class="txt_current">
                      BlouseBrothers est une prépa ECNi collaborative, les<br>
                      internes enseignent directement en ligne aux<br>
                      externes, sans intermédiaires. 
                  </span>
              </div>
          </div>
          <div class="col-xs-12 col-md-6 bg_right tcenter">
              <div class="centrage">
                  <h3>Autonomie</h3>
                  <span class="txt_current">
                      Tu es Interne? Tu peux déposer les dossiers cliniques que tu as réalisé. Tu es Externe? tu choisis dossier par dossier les items que tu souhaites réviser, et tu accèdes aux corrections et aux fiches de révisions en rapport.
                  </span>
              </div> <!-- centrage -->
          </div> <!-- col 6-->
      </div> <!-- row -->
  </div> <!-- slide2 -->

  <!-- slide 3-->
  <div class="slide3 slide container">
      <div class="row">
          <div class="col-md-6 bg_left tcenter">
              <div class="centrage">
                  <h3>Feedback</h3>
                  <span class="txt_current">
                      Les étudiants peuvent noter les dossiers ECN qu’ils ont réalisés ainsi que les commenter, ce qui permet d’évaluer la qualité des dossier. Il est possible de contacter et d'échanger avec le Conférencier.
                  </span>
              </div>
          </div>
          <div class="col-md-6 bg_right tcenter">
              <div class="centrage">
                  <h3>Equité</h3>
                  <span class="txt_current">
                      Les conférenciers gardent 70% de leurs ventes sur dossiers. Les 30% restants sont dédiés au développement de la plate-forme.
                  </span>
              </div> <!-- centrage -->
          </div> <!-- col 6-->
      </div> <!-- row -->
  </div> <!-- slide3 -->

  <div class="signup slide4 slide container">
      <div class="col-md-3"></div>
      <div class="col-md-6 bg_left tcenter">
          <div class="space"></div> 
          <div class="centrage">
              <h3>En résumé</h3>
              <span class="txt_current">
                  BlouseBrothers est une plateforme collaborative pour la préparation aux ECNi. Tu y trouveras des dossiers cliniques progressifs (DCP) et des questions individuelles (QI) classés par items et par matières, ainsi que des dossiers de Lecture Critique d’Articles (LCA) réalisés et mis en ligne par des internes pour les externes.<br>
                  Les dossiers sont rédigés selon les recommandations du CNCI et suivent les programmes des Collèges. <br>
                  Des corrections détaillées sont fournies par les Conférenciers.<br>
                  Des fiches de révisions ECN et des statistiques permettant un suivi individuel des révisions sont également disponibles.<br>
              </span>
          </div>
          <div class="space"></div> 
      </div>
      <div class="col-md-3"></div>
      <div class="space"></div> <!-- 40px Vertical Spacing -->
  </div>
  <div class="signup slide5 slide container">
  <div class="text-center">
      <div class="space"></div> 
      <div class="space"></div> 
      <div class="col-md-12 opac">
          <h3>Ils nous soutiennent</h3>
          <img src="{% static 'images/village.png' %}" style="height: 170px; margin: 16px 0;"/>
          <img src="{% static 'images/logo_bpifrance_fond_jaune.jpg' %}" style="height: 170px; margin: 16px 0;"/>
          <img src="{% static 'images/ft_logo-3.jpg' %}" style="height: 170px; margin: 16px 0;"/>
          <div class="space"></div> 
          <div class="space"></div> 
      </div>
      <div class="space"></div> 
      <div class="col-md-12">
          {% include 'partials/subscriptions.html' %} 
      </div>
  </div>
  </div>
</div><!-- signup -->

{% endblock content_wrapper %}






{% block onbodyload %}

$( document ).ready(function() {

$('.slide1').css('min-height',$(window).height() - 66 + 'px');
$('.slide2').css('line-height', $(window).height()+'px');
$('.slide2 .bg_right').height($(window).height());
$('.slide2 .bg_left').height($(window).height());
$('.slide3').css('line-height', $(window).height()+'px');
$('.slide3 .bg_right').height($(window).height());
$('.slide3 .bg_left').height($(window).height());
$('.slide5').css('min-height',$(window).height()-145+'px');
});


function move_value(scrolled, start, end, value_start, value_end){
    if (scrolled < start)
    return value_start;
    else if (scrolled > end)
    return value_end;

    end = end-start;
    scrolled = scrolled-start;
    start = 0;
    if (value_end < value_start){ // on descend
    return ((1-scrolled/end) * (value_start - value_end));
    }
    else{
    return ((scrolled/end) * (value_end - value_start));
    }
}

function alertModal(msg){
    $('#myModal .modal-body p').html(msg);
    $("#myModal").modal('show');
}

{% endblock %}
{% block subscribe %}
{% endblock %}
