{% extends "base.html" %}
{% load staticfiles %}
{% load promotion_tags %}
{% load i18n %}
{% load category_tags %}
{% load currency_filters %}
{% load bbtricks %}
{% load activeurl %}


{% block styles %}
{% comment %}
If you are developing Oscar's CSS, or overriding Oscar's CSS
files in your project, then set USE_LESS = True in your
settings file. This will enable the on-the-fly less compiler.
{% endcomment %}
{% if use_less %}
<link rel="stylesheet/less" type="text/css" href="{% static "oscar/less/styles.less" %}" />
{% else %}
<link rel="stylesheet" type="text/css" href="{% static "oscar/css/styles.css" %}" />
{% endif %}
<link rel="stylesheet" href="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/pe-icon-7-stroke.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "oscar/css/datetimepicker.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "cookielaw/css/cookielaw.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/project.css" %}" />
{% endblock %}

{% block layout %}
{# Top-horizontal bar with account, notifictions, dashboard links #}

{% block cdn_scripts %}
{{ block.super }}
<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<script async src="https://use.fontawesome.com/e96ad7919c.js"></script>
{% if use_less and debug %}
{# Load the on-the-fly less compiler. Never do this in production. #}
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
{% endif %}
{% endblock %}

{% block main_header %}
<div class="main-menu-wapper">
    <div class="row">
        <div class="col-sm-12 col-md-2 logo-wrapper">
            <div class="logo">
                <a href="{% url 'catalogue:index' %}"><img src="{% static "images/logo_home.png" %}" width=100px alt=""></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".nav-primary">
                    <i class="fa fa-bars"></i>
                </button>
<span class="blouse-font">BlouseBrothers</span>
            </div>
        </div>
        {% activeurl %}
        <div class="col-sm-12 col-md-10 ">
            <div class="top-header">
                <div class="collapse navbar-collapse nav-primary">
                    <ul class="boutique-nav main-menu clone-main-menu">
                        <li class="menu-item-has-children item-megamenu">
                            <a href="{% url 'catalogue:index' %}"><span class="fa fa-th"></span> {% trans 'Catalogue' %}</a>
                        </li>
                        <li class="menu-item-has-children item-megamenu"><a href="{% url 'regledujeu' %}"><strong><span class="fa fa-cogs"></span> {% trans 'Comment ça marche ?' %}</strong></a></li>
                        <li class="menu-item-has-children item-megamenu"><a id="btn-create-conf" href="{% url 'confs:create' %}"><strong><span class="fa fa-plus"></span> {% trans 'Créer une conf' %}</strong></a></li>
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_conferencier%}
                        <li class="menu-item-has-children item-megamenu">
                            <a href="{% url 'confs:list' %}"><span class="fa fa-reorder"></span> {% trans 'Confs créées' %}</a>
                        </li>
                        {% endif %}
                        <li class="menu-item-has-children item-megamenu">
                            <a href="{% url 'confs:my_confs' %}"><span class="fa fa-check-circle-o"></span> {% trans 'Confs achetées' %}</a>
                        </li>
                        <li class="menu-item-has-children item-megamenu"><a id="wallet_link" href="{% url 'users:wallet' %}"><i class="icon-money"></i> {{ balance }}</a></li>
                        <li class="menu-item-has-children item-megamenu">
                            {% if num_unread_notifications > 0 %}
                            {# If user has new notifications - we change account link to go to inbox #}
                            <a href="{% url 'customer:notifications-inbox' %}">
                                <i class="icon-user"></i>
                                {{ request.user.username }}
                                <span class="label label-important">{{ num_unread_notifications }}</span>
                            </a>
                            {% else %}
                            <a href="{% url 'users:redirect' %}"><i class="icon-user"></i> {{ request.user.username }}</a>
                            {% endif %}
                        </li>
                        {% if request.user.is_staff or perms.partner.dashboard_access %}
                        <li class="menu-item-has-children item-megamenu"><a href="{% url 'dashboard:index' %}"><i class="icon-list-ul"></i> {% trans "Dashboard" %}</a></li>
                        {% endif %}
                        {% endif %}
                        {% if request.user.is_authenticated %}
                        <li class="menu-item-has-children item-megamenu"><a id="logout_link" href="{% url 'customer:logout' %}"><i class="icon-signout"></i> {% trans "Logout" %}</a></li>
                        {% else %}
                        {% block connect_link %}
                        <li class="menu-item-has-children item-megamenu"><a id="login_link" href="{% url 'account_login' %}"><i class="icon-signin"></i> {% trans "Login or register" %}</a></li>
                        {% endblock connect_link %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% endactiveurl %}
        {% block submenu %}
        <div class="hidden-xs submenu_new pull-right">
            <a href="tel:+33339250264"><i class="fa fa-phone"></i> 03 39 25 02 64</a> 
            <a href="https://www.facebook.com/iBlouseBrothers"><i class="fa fa-facebook"></i></a> 
            <a href="https://twitter.com/iBlouseBrothers"><i class="fa fa-twitter"></i></a> 
        </div>
        {% endblock %}
    </div>
</div>
{% endblock main_header %}
{# Main content of page - other layout templates may override this block #}
{% block content_wrapper %}
{% block parallax %}{% endblock %}
{% block main_container_class %}<div class="container-fluid">{% endblock %}
    <div class="page_inner">
        {% block breadcrumbs %}{% endblock %}
        {% block header %}
        <div class="page-header action">
            <h1>{% block headertext %}{% endblock %}</h1>
        </div>
        {% endblock %}
        {% include "partials/alert_messages.html" %}
        {% block subnavigation %}{% endblock %}
        <div class="content">
            {% block subheader %}{% endblock subheader %}

            {# Render promotions #}
            <div id="promotions">
                {% for promotion in promotions_page %}
                {% render_promotion promotion %}
                {% endfor %}
            </div>

            {# Div exists for AJAX updates to entire content section #}
            <div id="content_inner">{% block content %}{% endblock %}</div>
        </div>
    </div>
</div>
{% endblock %}

{% endblock %}


{# Local scripts #}
{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "js/project.js" %}"></script>
<script type="text/javascript" src="{% static "cookielaw/js/cookielaw.js" %}"></script>
<!-- Twitter Bootstrap -->
<script type="text/javascript" src="{% static "oscar/js/bootstrap3/bootstrap.min.js" %}"></script>
<!-- Oscar -->
<script src="{% static "oscar/js/oscar/ui.js" %}" type="text/javascript" charset="utf-8"></script>

<script src="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "oscar/js/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.all.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block extrascripts %}
{% include "partials/extrascripts.html" %}
{{ block.super }}
{% endblock %}

{% block onbodyload %}
{{ block.super }}
oscar.init();
{% endblock %}
