{% extends "base.html" %}
{% load staticfiles %}
{% load promotion_tags %}
{% load i18n %}
{% load category_tags %}
{% load currency_filters %}


{% block styles %}
    {% comment %}
        If you are developing Oscar's CSS, or overriding Oscar's CSS
        files in your project, then set USE_LESS = True in your
        settings file. This will enable the on-the-fly less compiler.
    {% endcomment %}
    {% if use_less %}
        <link rel="stylesheet/less" type="text/css" href="{% static "oscar/less/styles.less" %}" />
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static "oscar/css/styles.css" %}" />
    {% endif %}
    <link rel="stylesheet" href="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/pe-icon-7-stroke.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "oscar/css/datetimepicker.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "cookielaw/css/cookielaw.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/project.css" %}" />
{% endblock %}

{% block layout %}
    {# Top-horizontal bar with account, notifictions, dashboard links #}

  {% block cdn_scripts %}
    {{ block.super }}
      <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    {% if use_less and debug %}
      {# Load the on-the-fly less compiler. Never do this in production. #}
      <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    {% endif %}
  {% endblock %}

  {% block angular_start %}{% endblock %}
  {% block main_header %}
	<div class="container">
		<div class="main-menu-wapper">
		<div class="row">
			<div class="col-sm-12 col-md-2 logo-wapper">
				<div class="logo">
					<a href="{% url 'catalogue:index' %}"><img src="{% static "images/logo.png" %}" width=160px alt=""></a>
				</div>
			</div>
			<div class="col-sm-12 col-md-10 menu-wapper">
				<div class="top-header">
            				{% if not user.is_authenticated %}
					<div class="slogan">BlouseBrothers</div>
				        {% else %}
					<ul class="boutique-nav main-menu clone-main-menu pull-left">
            				    {% if user.is_conferencier%}
					    <li class="menu-item-has-children item-megamenu">
						<a href="{% url 'confs:list' %}"><span class="fa fa-reorder"></span> {% trans 'Confs créées' %}</a>
					    </li>
					    {% endif %}
					</ul>
				        {% endif %}
					<ul class="boutique-nav main-menu clone-main-menu pull-right">
					<div class="box-control">
	    					<div class="con-menu">
	    					<ul class="boutique-nav main-menu clone-main-menu">
            					    {% if user.is_authenticated %}
            					        {% if user.is_staff or perms.partner.dashboard_access %}
	    					            <li class="menu-item-has-children item-megamenu"><a href="{% url 'dashboard:index' %}"><i class="icon-list-ul"></i> {% trans "Dashboard" %}</a></li>
            					        {% endif %}
	   					</ul>
					</ul>
	    					<ul class="boutique-nav main-menu clone-main-menu pull-right">
							<li class="menu-item-has-children item-megamenu">
							    {% if num_unread_notifications > 0 %}
								{# If user has new notifications - we change account link to go to inbox #}
								<a href="{% url 'customer:notifications-inbox' %}">
								    <i class="icon-user"></i>
								    {{ user.username }}
								    <span class="label label-important">{{ num_unread_notifications }}</span>
								</a>
							    {% else %}
							    <a href="{% url 'users:redirect' %}"><i class="icon-user"></i> {{ user.username }}</a>
							    {% endif %}
							</li>
            					        <li class="menu-item-has-children item-megamenu"><a id="logout_link" href="{% url 'customer:logout' %}"><i class="icon-signout"></i> {% trans "Logout" %}</a></li>
            					    {% else %}
						    {% block connect_link %}
						    <li class="menu-item-has-children item-megamenu"><a id="login_link" href="{% url 'customer:login' %}"><i class="icon-signin"></i> {% trans "Login or register" %}</a></li>
					            {% endblock connect_link %}
            					    {% endif %}
	   					</ul>
						</div>
	
					</div>
					{% block submenu %}
					{% include 'partials/submenu_search.html' %}
					{% endblock %}
				</div>

			</div>
		</div>
    {% endblock main_header %}
    {# Main content of page - other layout templates may override this block #}
    {% block content_wrapper %}
        {% block parallax %}{% endblock %}
	{% block main_container_class %}<div class="container-fluid">{% endblock %}
            <div class="page_inner">
                {% block breadcrumbs %}{% endblock %}
                {% block header %}
                    <div class="page-header action">
                        <h1>{% block headertext %}{% endblock %}</h1>
                    </div>
                {% endblock %}
                {% include "partials/alert_messages.html" %}
                {% block subnavigation %}{% endblock %}
                <div class="content">
                    {% block subheader %}{% endblock subheader %}

                    {# Render promotions #}
                    <div id="promotions">
                        {% for promotion in promotions_page %}
                            {% render_promotion promotion %}
                        {% endfor %}
                    </div>

                    {# Div exists for AJAX updates to entire content section #}
                    <div id="content_inner">{% block content %}{% endblock %}</div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block angular_end %}{% endblock %}
    {% include "partials/footer.html" %}
{% endblock %}


{# Local scripts #}
{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/project.js" %}"></script>
    <script type="text/javascript" src="{% static "cookielaw/js/cookielaw.js" %}"></script>
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="{% static "oscar/js/bootstrap3/bootstrap.min.js" %}"></script>
    <!-- Oscar -->
    <script src="{% static "oscar/js/oscar/ui.js" %}" type="text/javascript" charset="utf-8"></script>

    <script src="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "oscar/js/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.all.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block extrascripts %}
    {% include "partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.init();
{% endblock %}
