{% extends "layout.html" %}
{% load promotion_tags %}
{% load i18n %}

{% comment %}
Keep the same header and footer as the standard layout template but override the 
main content area to split it into a sidebar and a content block
{% endcomment %}

{% block submenu %}
  {% if user.is_authenticated %}
    <a class="btn btn-success btn-create-conf pull-right" href="{% url 'confs:create' %}"><strong><span class="fa fa-plus"></span> {% trans 'Créer une conf' %}</strong></a>
  {% endif %}
{% endblock %}

{% block content_wrapper %}
<div class="container-fluid page">
    <div class="page_inner">
        {% block breadcrumbs %}{% endblock %}
        <div class="row">

            <aside class="sidebar col-sm-4 col-md-3">
                {# Render promotions at the top of the left-hand sidebar #}
                <div id="promotions_left">
                    {% for promotion in promotions_left %}
                        {% render_promotion promotion %}
                    {% endfor %}
                </div>
                {% block column_left %}{% endblock %}
            </aside>

            <div class="col-sm-8 col-md-9">
                {% block header %}
                <div class="page-header action">
                    <div class="row">
                      <div class="col-md-6">
                        <h1>{% block headertext %}{% endblock %}</h1>
                      </div>
                      <div class="col-md-6">
					  {% include 'partials/submenu_search.html' with action="search:search" hide_search=True %}
                      </div>
                    </div>
                </div>
                {% endblock %}

                {% include "partials/alert_messages.html" %}

                <div id="promotions">
                    {% for promotion in promotions_page %}
                        {% render_promotion promotion %}
                    {% endfor %}
                </div>

                {% block content %}{% endblock %}
            </div>

        </div><!-- /row -->
    </div><!-- /page_inner -->
</div><!-- /container-fluid -->
{% endblock %}
