POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=jw4k^gx9*1pv^@5riv7r-y7l8=p-!k^7r0e+7tb1+6evht85)s
DJANGO_ALLOWED_HOSTS=.blousebrothers.fr
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True
DJANGO_SENTRY_DSN=


