{% extends "layout.html" %}
{% load static %}
{% load i18n %}
{% load bbtricks %}
{% block title %}{% trans 'Fiches' %}{% endblock %}

{% block content %}
<div class="container">

    <div class="row theader">
        <div class="col-md-3">
            <h2>{% trans 'Fiches' %} </h2>
        </div>
        <div class="col-md-3 text-center">
            <a class="btn btn-default" href="{% url 'cards:create' %}"><i class="fa fa-plus"></i> Ajouter une fiche</a>
        </div>
        <div class="col-md-6">
            {% include 'partials/submenu_search.html' with actionurl="cards:list" %}
        </div>
    </div>

    <div class="list-group">
        {% for object in object_list %}
        <div class="list-group-item">
            <div class="card-title">
                <a href="{% url 'cards:detail' object.slug %}" >
                    <h4 class="list-group-item-heading">{{ object.title_tmp }}
                    </h4>
                </a>
                <p class="list-group-item-heading">{{ object.specialities.all|join:", " }}
                </p>
                <p class="list-group-item-heading">{{ object.items.all|join:", " }}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% include 'partials/pagination.html' %}
</div>

{% endblock content %}
