{% extends "cards/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load bbtricks %}

{% block title %}{% trans 'Mes amis' %}{% endblock %}

{% block styles %}
{{ block.super }}
{{ form.media.css }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row theader">
        <div class="col-md-6">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2><i class="fa fa-users"></i> Trouver des amis <small>pour partager nos fiches !</small></h2>
                    <div class="clearfix">
                        <img src="{% static 'images/cards/poker-playing-cards.svg' %}" style="width:20px;"/>
                    </div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">
                        <div class="space12"></div> <!-- 40px Vertical Spacing -->
                        <form class="form" name="{{ form.form_name }}" method="post">
                            {{ form | crispy }}
                            {% csrf_token %}
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-smile-o fa-lg" aria-hidden="true"></i> {% trans "Demander à être amis" %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% if user.nb_activ_friendship_offers %}
        <div class="col-md-6">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2><i class="fa fa-users"></i> Demandes d'amitié</h2>
                    <div class="clearfix"><span class="Counter">{{offers | length }}</span>
                    </div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">
						<div class="space12"></div> <!-- 40px Vertical Spacing -->
                        <ul class="list-unstyled msg_list">
                            {% for offer in offers %}
                            <li>
                                <div class="friends-profile"> 
                                    <span class="image">
                                        <img style="width: 50px;" src="{{offer.requester.socialaccount_set.first.get_avatar_url | default_icon }}" alt="avatar">
                                    </span>
                                    <span>
                                        <span>{{ offer.requester.username }}</span>
                                        <span class="time">{{ offer.create_timestamp | date:'d/m/y' }}</span>
                                    </span>
                                    <span class="message">
                                        {{ offer.requester.bio | default:"" | truncatechars:60}}
                                    </span>
                                </div>
                                <div class="friends-control"> 
                                    <a href="{% url 'cards:accept_friend' %}?pk={{offer.id}}" class="btn btn-success"><i class="fa fa-check fa-lg"></i></a> 
                                    <a href="{% url 'cards:refuse_friend' %}?pk={{offer.id}}" class="btn btn-danger"><i class="fa fa-times fa-lg"></i></a>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
						
					</div>
				</div>
            </div>
        </div>
        {% endif %}
        {% if user.friends.count %}
        <div class="col-md-12">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2><i class="fa fa-users"></i> Amis</h2>
                    <div class="clearfix">{{ user.friends.count }}
                    </div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">
						<div class="space12"></div> <!-- 40px Vertical Spacing -->
                        <ul class="list-unstyled msg_list">
                            {% for friend in user.friends.all %}
                            <li>
                                <div class="friends-profile"> 
                                    <span class="image">
                                        <img style="width: 50px;" src="{{friend.socialaccount_set.first.get_avatar_url | default_icon }}" alt="avatar">
                                    </span>
                                    <span>
                                        <span>{{ friend.username }}</span>
                                    </span>
                                    <span class="message">
                                        {% with total=friend.created_cards.count %}
                                        {{ total }} carte{{ total|pluralize }} crée{{ total|pluralize }}.
                                        {% endwith %}
                                    </span>
                                </div>
                                <div class="friends-control"> 
                                    <a href="{% url 'cards:remove_friend' %}?pk={{friend.id}}" class="btn btn-danger"><i class="fa fa-times fa-lg"></i></a>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
						
					</div>
				</div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}

{% block scripts %}
{{ block.super }}
{{ form.media.js }}
{{ block.super }}
{% endblock %}


{% block onbodyload %}
$('.django-select2').djangoSelect2({placeholder: 'Nom, prénom, pseudo ou email...'});
{% endblock %}
