{% extends 'cards/base.html' %}
{% load i18n %}
{% load static %}
{% load jchart %}
{% load bbtricks %}
{% load crispy_forms_tags %}
{% load product_tags %}

{% block scripts %}
{{ form.media.js }}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script>
{% endblock %}

{% block alert_messages %}
{% endblock %}

{% block styles %}
{{ block.super }}
{{ form.media.css }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" />
{% endblock styles %}

{% block content %}
<div class="container">
    <div class="space hidden-xs"></div>
    <h1 class="black-font">
        Dernières actions
    </h1>
    {% include 'partials/user_last_activity.html' with last_activities=user.last_activities %}
    <div class="row">
        <div class="col-xs-6">
            <h2 class="black-font">
                Réviser 
            </h2>
        </div>
        <div class="col-xs-6">
        <div class="pull-right">
            <a data-toggle="modal" data-target="#modalTip1" class="btn btn-secondary float-right btn-sm">Comment ça marche ?</a>
        </div>
        </div>
    </div>
    <div class="x_panel tile fixed_height_320 rev_pod">
        <div class="x_title">
            <h2><i class="fa fa-pie-chart"></i> 
                {% if request.GET.search %}
                Fiches correspondant à "{{ request.GET.search }}"
                {% else %}
                Toutes mes fiches
                {% endif %}
            </h2><div class="text-right">{{ deck.count }}/{{ total }}</div>
            <div class="clearfix"></div>
            <div class="progress-bar-container"><div style="width: {% widthratio deck.count total  100 %}%" class="progress-bar"></div></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-md-5">
                    <table class="" style="width:100%">
                        <tbody><tr>
                                <th style="width:37%;">
                                    <p>Répartitions</p>
                                </th>
                                <th>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                        <p class="">Catégorie</p>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                        <p class="">Total</p>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td style="width=37%" >
                                    <div style="position: relative; height:100px; width:100px">
                                        {% render_chart chart None %}
                                    </div>
                                </td>
                                <td>
                                    <table class="tile_info" style="width:100%;">
                                        <tbody>
                                            {% for label, color, count in chart.get_lab_col_cnt %}
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square" style="color: {{color}};"></i> {{ label }}</p>
                                                </td>
                                                <td>{{ count | default:0 }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="space12"></div>
                <div class="col-md-7 rev_btns">
                    <a href="{% url 'cards:start_new_session' %}?{{request.GET.urlencode}}" class="btn btn-info{% if spe.total < 1 %} disabled{% endif %}"><i class="fa fa-plus"></i> Voir de nouvelles fiches</a>
                    <a href="{% url 'cards:start_new_session' %}?revision=True&{{request.GET.urlencode}}" class="btn btn-success{% if ready < 1 %} disabled{% endif %}"><i class="fa fa-history"></i> {% if ready > 0 %}<span class="Counter">{{ user.nb_cards_ready }}</span> fiches prêtes à être révisées{% elif wake_up %} (dans {{wake_up | next_session}}){% endif %}</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                    <form method="get" action="{% url 'cards:revision_groups' %}" class="box-search pull-left">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control"  id="id_search" name="search" placeholder="Je souhaite réviser..." value="{{request.GET.search}}">
                        <span class="input-group-addon">
                            <button type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>  
                        </span>
                    </div>
                </h4>
            </div>
                    </form>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="x_footer revision">
            <div class="col-md-6">
                <a href="{% url 'cards:list' %}" class="btn">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    <span itemprop="name">Actives
                    </span>
                </a>    
                <a href="{% url 'cards:unseen_cards_list' %}" class="btn">
                    <i class="fa fa-stack-overflow" aria-hidden="true"></i>
                    <span itemprop="name">Non vues
                    </span>
                </a>  
                <a href="{% url 'cards:trashed' %}" class="btn">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    <span itemprop="name">Oubliées
                    </span>
                </a>  
            </div>
            <div class="col-md-6">
                <a href="{% url 'cards:revision_groups' %}" class="btn">
                    <i class="fa fa-pie-chart" aria-hidden="true"></i>
                    <span itemprop="name">Répartition
                    </span>
                </a>    
                <a href="{% url 'cards:create' %}" class="btn">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <span itemprop="name">Créer
                    </span>
                </a>    
                <a href="{% url 'cards:ankiupload' %}" class="btn">
                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                    Packages
                </a>
                {% if user.is_superuser or user.username == 'Nicota' %}
                <a href="{% url 'cards:boulet' %}" class="btn">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>
                    Partenariat
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h2 class="black-font">
               S'entraîner 
            </h2>
        </div>
    </div>
    <div class="x_panel tile fixed_height_320">
        <div class="x_title">
            <h2><i class="fa fa-check-square-o"></i> 
                Dossiers
            </h2><div class="text-right"></div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <h3>
                {% if user.nb_new_confs %}
                <span class="Counter">{{ user.nb_new_confs }}
                </span>
                {% endif %}
                Dernières parutions :
            </h3>
            <ul class="row">
                {% for conf in last_confs %}
                <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    {% render_product conf.products.first %}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="x_footer revision">
            <div class="col-md-6">
            <a href="{% url 'catalogue:index' %}" class="btn">
                <i class="fa fa-folder" aria-hidden="true"></i>
                <span itemprop="name">Tous
                </span>
            </a>    
            <a href="{% url 'confs:my_confs' %}" class="btn">
                <i class="fa fa-check" aria-hidden="true"></i>
                <span>Faits
                </span>
            </a>  
            <a href="{% url 'confs:home' %}" class="btn">
                <i class="fa fa-signal" aria-hidden="true"></i>
                <span>Stats
                </span>
            </a>  
            </div>
            <div class="col-md-6">
            <a href="{% url 'confs:create' %}" class="btn">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Créer 
            </a>
            <a href="{% url 'confs:list' %}" class="btn">
                <i class="fa fa-list" aria-hidden="true"></i>
                <span itemprop="name">Créations
                </span>
            </a>  
            </div>
        </div>
    </div>
</div>

{% if messages %}
{% for message in messages %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {% if "error" in message.tags %}
                <h2 class="blouse-font text-center" id="myModalLabel">Oups !</h2>
                {% else %}
                <h2 class="blouse-font text-center" id="myModalLabel">Félicitations !</h2>
                {% endif %}
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        {% if "error" in message.tags %}
                        <img class="reward" src="{% static "images/retro/7.jpg" %}" style="transform: rotate(180deg);" alt="Logo fin de révision">
                        {% else %}
                        <img class="reward" src="{% static "images/retro/" %}{{retro_img_nb}}.jpg" alt="Logo fin de révision">
                        {% endif %}
                    </div>
                    <div class="col-sm-8 reward">
                        <p>{{ message|safe }}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p class="modal-footer-tips">
                {% if "error" in message.tags %}
                Si le problème persiste, n'hésite pas à nous contacter.
                {% endif %}
                </p>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-check" aria-hidden="true"></i> OK</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

<div class="modal fade" id="modalTip1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="blouse-font text-center" id="myModalLabel"><span class="fa fa-fighter-jet"></span> Optimiser</h2>
            </div>
            <div class="modal-body">
                <img src="{% static "images/cards/tipmodal1.png"%}" alt="Logo fin de révision">
                <p>Le principe des fiches est de te permettre de sélectionner les connaissances les plus importantes pour toi, en permanence, et de perdre le moins de temps possible à réviser des choses que tu sais déjà.
                </p>
                <p> Notre système est basé sur le principe des "flashcards" et de la révision espacée, avec un algorithme adapté aux ECNi.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-next">Suivant <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalTip2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="blouse-font text-center" id="myModalLabel"><span class="fa fa-cubes"></span> Créer</h2>
            </div>
            <div class="modal-body">
                <img src="{% static "images/cards/tipmodal2.png"%}" alt="Logo fin de révision">
                <p>Tu peux créer des fiches en même temps que tu travailles, sous forme de Question/Réponse, et les taguer dans la matière appropriée.
                </p>
                <p> Nous en créons également de notre côté: notre base de travail nous a été fournie par un étudiant classé dans les 120 premiers aux ECN 2017.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-prev"><i class="fa fa-chevron-left" aria-hidden="true"></i> Précdent</button>
                <button type="button" class="btn btn-default btn-next">Suivant <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalTip3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="blouse-font text-center" id="myModalLabel"><span class="fa fa-sitemap"></span> Organiser</h2>
            </div>
            <div class="modal-body">
                <img src="{% static "images/cards/tipmodal3.png"%}" alt="Logo fin de révision">
                <p>Le bouton "Apprendre" sert à voir des fiches que tu n'as jamais vues. Elles vont être basculées vers le bouton "Révisions" avec un intervalle de temps de révision correspondant à la difficulté que tu lui attribues. Tu verras souvent les fiches que tu trouves difficiles, et moins souvent celles qui sont faciles.
                </p>
                <p>Les fiches n'apparaissent dans l'onglet "Révisions" QUE quand il est temps que tu les révises.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-prev"><i class="fa fa-chevron-left" aria-hidden="true"></i> Précdent</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-check" aria-hidden="true"></i> OK</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extrascripts %}
<script type="text/javascript">
$("div[id^='modalTip']").each(function(){

    var currentModal = $(this);

    //click next
    currentModal.find('.btn-next').click(function(){
        currentModal.modal('hide');
        currentModal.closest("div[id^='modalTip']").nextAll("div[id^='modalTip']").first().modal('show'); 
    });

    //click prev
    currentModal.find('.btn-prev').click(function(){
        currentModal.modal('hide');
        currentModal.closest("div[id^='modalTip']").prevAll("div[id^='modalTip']").first().modal('show'); 
    });

});
</script>
{% endblock extrascripts %}

{% block onbodyload %}
{% if messages %}
$('#myModal').modal('show');
{% endif %}
var toggle_correction= function(event, state) {
$.ajax({
url: "{% url 'confs:switch_correction' %}?conf_id=" + this.dataset.confId + "&state=" + state,
});
}
$("[name='switch_correction']").bootstrapSwitch('onText', 'Oui');
$("[name='switch_correction']").bootstrapSwitch('offText', 'Non');
$('input[name="switch_correction"]').on('switchChange.bootstrapSwitch', toggle_correction)
var toggle_for_sale= function(event, state) {
$.ajax({
url: "{% url 'confs:switch_for_sale' %}?conf_id=" + this.dataset.confId + "&state=" + state,
});
}
$("[name='switch_for_sale']").bootstrapSwitch('onText', 'Oui');
$("[name='switch_for_sale']").bootstrapSwitch('offText', 'Non');
$('input[name="switch_for_sale"]').on('switchChange.bootstrapSwitch', toggle_for_sale)
{% endblock onbodyload %}

{% block oscar_init %}
{% endblock %}
