{% extends "layout.html" %}
{% load static %}{% load i18n %}
{% load bbtricks%}
{% block title %}{% trans 'Révisions' %}{% endblock %}

{% block body_class %}bodyrev{% endblock body_class %}

{% block main_header %}
{% endblock main_header %}

{% block zendesk %}
{% endblock zendesk %}

{% block content %}
{% with object.card.specialities.all|first as spe %}
<div class="row">
	<div class="col-md-4 hidden-xs hidden-sm">
	</div>
	<div class="col-sm-4 hidden-md hidden-lg text-right">
        {% include "cards/partials/rev_menu.html" %}
	</div>
	<div class="col-md-4">
		<div class="column"> 
			<!-- Post-->
			<div class="post-module"> 
				<!-- Thumbnail-->
				<div class="thumbnail">
						<img src="{% static spe.image %}" class="img-responsive" alt=""> </div>
				<!-- Post Content-->
				<div class="post-content">
					<div class="category">{{ spe.name }}</div>
                    <h1 class="title">{{ object.card.title }}</h1>
                    <h2 class="sub_title">{{ object.card.section }}</h2>
                    <div class="date">
                        <a href="#0">
                            <div class="day"><i class="fa fa-bars" aria-hidden="true"></i></div>
                        </a> 
                    </div>
                    <div class="description">
                        <p>{{ object.card.content | rev_content | safe }}</p>
                    </div>
                    <div id="btn_rev_block">
                        <form action="" method="POST" >
                            {% csrf_token %}
                            <div class="text-center">
                                <button type="submit" name="easy" class="btn btn-success">Facile</button>
                                <button class="btn btn-warning" name="average">Moyen</button>
                                <button class="btn btn-danger" name="hard">Difficile</button>
                            </div>
                        </form>
                    </div>
					<div class="post-meta"><span class="timestamp"><i class="fa fa-clock"></i>{% for item in object.card.items.all %}{{ item.name }} {% endfor %}</span><span class="comments"></span></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 hidden-md hidden-lg">
	</div>
	<div class="col-md-4 text-right hidden-xs hidden-sm">
        {% include "cards/partials/rev_menu.html" %}
	</div>
</div>
{% endwith %}
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block extrascripts %}
 <script type="text/javascript">
var myswitch = true;
$(document).ready(function() {
    $('.date').click(function(){
        var visibility = ( myswitch ? "visible" : "hidden");
        myswitch = !myswitch;
        $('.description').css("visibility", visibility);
        $('#btn_rev_block').css("visibility", "visible");
    });
});
</script>
{% endblock extrascripts %}
