
{% extends 'friends/emails/base.html' %}


{% block h1 %}{{ requester.username }} te kiffe{% endblock h1 %}

{% block h2 %}{{ requester.username }} souhaiterait devenir ami(e) avec toi sur BlouseBrothers.{% endblock h2 %}

{% block content %}
<p><br>
<br>
Une fois amis, vous pourrez choisir de partager (ou non) vos classements, vos fiches et les dossiers que vous avez créés.
<br>
</p>
{% endblock content %}

{% block signature %}
<br>
<p>
L'équipe BlouseBrothers.<br>
</p>
{% endblock signature %}

{% block call_address %}{% url 'friends:home' %}{% endblock call_address %}

{% block call_text %}Voir la demande sur le site{% endblock call_text %}
