{% extends 'friends/emails/base.html' %}

{% block h1 %}Tu es invité(e).{% endblock h1 %}

{% block h2 %}{{ requester.username }} t'invite à rejoindre le groupe {{ group.name }} sur BlouseBrothers.fr{% endblock h2 %}

{% block content %}
<p><br>
Une fois dans le groupe, tu pourras accéder à tous les dossiers que le groupe partage.<br>
<br>
Tu pourras également créer et partager des dossiers avec le groupe.<br>
<br>
A très vite !<br>
</p>
{% endblock content %}

{% block signature %}
<br>
<p>
Guillaume et Julien<br>
contact@blousebrothers.fr
</p>
{% endblock signature %}

{% block call_address %}https://blousebrothers.fr{% endblock call_address %}

{% block call_text %}Rejoindre le groupe{% endblock call_text %}
