{% extends 'friends/emails/base.html' %}


{% block h1 %}C'est bon, tu peux rentrer {% endblock h1 %}

{% block h2 %}Tu es à présent membre de {{ group.name }}.{% endblock h2 %}

{% block content %}
<p><br>
<br>
Tu peux maintenant accéder à tous les dossiers que le groupe partage.<br>
Tu peux également créer et partager des dossiers avec le groupe.<br>
<br>
</p>
{% endblock content %}

{% block signature %}
<br>
<p>
L'équipe BlouseBrothers<br>
contact@blousebrothers.fr
</p>
{% endblock signature %}

{% block call_address %}{% url 'friends:group_detail' group.id %}{% endblock call_address %}

{% block call_text %}Voir sur BlouseBrothers{% endblock call_text %}
