{% extends 'account/email/email_base.html' %}

{% block body %}
<div style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:12px;line-height:14px;color:#ffffff;text-align:left;">
    <p style="margin: 0;font-size: 12px;line-height: 14px">
    <span style="color: rgb(230, 185, 255); font-size: 12px; line-height: 14px;">
        <strong>
            <span style="font-size: 24px; line-height: 28px;">﻿<span style="color: rgb(255, 204, 153); font-size: 24px; line-height: 28px;">Bienvenue sur BlouseBrothers.</span>
            </span>
        </strong>
    </span>
    <br>
    </p>
    <p style="margin: 0;font-size: 12px;line-height: 14px">
    <span style="color: rgb(255, 204, 153); font-size: 12px; line-height: 14px;">&nbsp;</span>
    <br>
    </p>
    <p style="margin: 0;font-size: 12px;line-height: 14px">
    <span style="color: rgb(255, 204, 153); font-size: 12px; line-height: 14px;">&nbsp;</span>
    <br>
    </p>
    <p style="margin: 0;font-size: 12px;line-height: 14px">
    <span style="color: rgb(255, 204, 153); font-size: 18px; line-height: 21px;">
        <strong>
            <span style="line-height: 21px; font-size: 18px;">Merci de confirmer ton adresse email en cliquant sur ce lien : {{ activate_url }}
</span>
        </strong>
    </span>
    </p>
    <p style="margin: 0;font-size: 12px;line-height: 14px">
    <span style="color: rgb(255, 204, 153); font-size: 18px; line-height: 21px;">
        <strong>
            <span style="line-height: 21px; font-size: 18px;">Tu es interne (ou externe confiant) ?</span>
        </strong>
    </span>
    </p>
    <p style="margin: 0;font-size: 12px;line-height: 14px">
    <span style="color: rgb(255, 204, 153); font-size: 18px; line-height: 21px;">
        <strong>
            <span style="line-height: 21px; font-size: 18px;">Dépose tes dossiers et garde 70% de tes ventes. Aucun frais, aucun engagement.<br>
            </span>
        </strong>
    </span>
    </p>
    <p style="margin: 0;font-size: 12px;line-height: 14px">
    <span style="font-size: 18px; line-height: 21px; color: rgb(255, 204, 153);">&nbsp;</span>
    <br>
    </p>
    <p style="margin: 0;font-size: 12px;line-height: 14px">
    <span style="color: rgb(255, 204, 153); font-size: 18px; line-height: 21px;">
        <strong>
            <span style="line-height: 21px; font-size: 18px;">Tu es externe? Achète uniquement les dossiers qui te conviennent, selon ton programme. Evalue chaque dossier pour les suivants. Accède à la correction, à ta note et à ton classement.<br>
            </span>
        </strong>
    </span>
    </p>
    <p style="margin: 0;font-size: 12px;line-height: 14px">
    <span style="color: rgb(255, 204, 153); font-size: 12px; line-height: 14px;">&nbsp;</span>
    <br>
    </p>
    <p style="margin: 0;font-size: 12px;line-height: 14px">
    <span style="color: rgb(230, 185, 255); font-size: 18px; line-height: 21px;">
        <strong>
            <span style="line-height: 21px; font-size: 18px;">
                <span style="color: rgb(255, 204, 153); font-size: 18px; line-height: 21px;">Tu peux tester les dossiers qui sont en accès libre dès maintenant pour te faire une idée.</span> <br>
            </span>
        </strong>
    </span>
    </p>
</div>
{% endblock body %}
