{% extends "layout.html" %}
{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block main_header %}
{% endblock main_header %}
{% block header %}
{% endblock header %}
{% block main_container_class %}<div class="container_fluid parallax">{% endblock %}

{% block content %}
<div class="row top-header main-title">
	<div class="col-md-2"><span class="slogan-top-header"> BlouseBrothers</div>
	<div class='col-md-2'><img src="/static/images/logo.gif" alt="" width="160px"></div>
	<div class="col-md-5 text-center">Prépa ECNi<em> collaborative</em></span></div>
	<div class="col-md-3 text-right small"><a href="{% url 'account_login' %}" class="btn btn-primary"><strong>J'ai déjà un compte, me connecter</strong></a> </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{% trans "Inscription" %}</h1>
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button id="sign-up-button" class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
