{% extends "layout.html" %}
{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block parallax%}

<div id="pipe" class="parallax">
  <div class="row logoparallax">
    <div class="col-md-10 parallax_caption">
      <h3 class>Prépa iECN sans additifs</h3>
	<p>Moins cher</p>
	<p>Moins chronophage</p>
	<p>Sans compromis.</p>
    </div>
  </div>
</div>
{% endblock parallax %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-2 middle-border"></div>
    <div class="col-md-8 text-center">
      <h2>{% trans "C'est parti, connecte toi via le réseau social de ton choix" %}</h2>

      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}

      <div>
          {% include "partials/social_connect.html" with process="login" %}
      </div>
      <h2>Ou en créant ton compte ici</h2>
      <a class="btn-ok" href="/accounts/signup/"><img src="{% static "images/user-avatar-main-picture.png" %}"</a>

      {% include "socialaccount/snippets/login_extra.html" %}

      {% endif %}

    </div>
  </div>
</div>
{% endblock %}
