{% extends "oscar/dashboard/catalogue/product_list.html" %}
{% load i18n %}

{% block header %}
    <div class="page-header action">
        <h1>{% trans "Products" %}</h1>
	  <div class="well">

        <h2>
	  	<img height="30" src="https://assets-cdn.github.com/images/icons/emoji/unicode/26a0.png"/> 
            <strong>A faire lors de la mise en prod :</strong>
        </h2>
            <ul>
                <li> Mettre le contenu l'attribut bonus de l'abonnement prévente</li>
                <li> Ajouter les nouveaux abo (<a href="https://github.com/sladinji/blousebrothers/issues/223">voir ticket 223</a>)</li>
                <li> Créditer le wallet de BlouseBrothers</li>
            </ul>
	  </div>
	  <div class="well">
	  	<img height="20" src="https://assets-cdn.github.com/images/icons/emoji/unicode/26a0.png"/> 
        <strong>Chaque abonnement doit être un sous type de "Abonnements" (cf. <a href="https://github.com/sladinji/blousebrothers/blob/master/blousebrothers/checkout/signals.py">blousebrothers.checkout.signals</a>)</strong><br>
	  	<img height="20" src="https://assets-cdn.github.com/images/icons/emoji/unicode/26a0.png"/> 
	  		<strong>Ne pas oublier que les codes promos fonctionnent par gamme</strong><br>
	  	<img height="20" src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f644.png"/> 
	  	faire attention à ne pas se planter lors de l'ajout d'un nouvel abonnement<br>
	  	<img height="20" src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f481-2642.png"/> 
	  	<i>faire une gamme à part pour chaque abonnement si besoin au risque d'avoir une promo 
	  	de -15€ qui s'applique sur un abonnement à 6€ !</i>
        <img height="20" src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f631.png"/><br>
	  </div>
    </div>
{% endblock header %}
