{% extends "layout.html" %}
{% load jchart %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
{% endblock %}

{% block content %}
<h1> salut voici tes stats</h1>


<div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Nombre de tests</span>
        <div class="count">{{ nb_test }}</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> Temps moyen par test</span>
        <div class="count">{{ time_moyen }}</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> Tests ces 7 derniers jours</span>
        <div class="count green">{{ nbTest_thisWeek }}</div>
        {% if pourcent_testPlus < 0 %}
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-desc"></i>{{ pourcent_testPlus }}% </i> depuis la semaine d'avant</span>
        {% else %}
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>{{ pourcent_testPlus }}% </i> depuis la semaine d'avant</span>
        {% endif %}
        <!--   <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span> -->
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Moyenne sur tout tes tests</span>
        <div class="count">{{ moy_allTest }}</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Erreur moyenne sur tes tests</span>
        <div class="count">{{ moy_error }}</div>
    </div>
</div>

<!--{% for test in object.tests.all %}
    {{test.score}}
    {% endfor %}-->
    </br>
    </br>
    Tu as fait 
    {{ nb_test }}
    tests depuis le debut
    {{ nbTest_thisWeek }} {{ nbTest_lastWeek }}
    </br>
    tu as passé en moyenne
    {{ time_moyen }}
    secondes par test
    </br>
    tu as en moyenne 
    {{ moy_allTest }}
    de score par test
    </br>
    tu as passé
    {{ time_total }}
    secondes à faire des tests
    </br>
    Tu as fait
    {{ nb_erreurTot }}
    erreurs sur tout tes tests
    </br>
    En moyenne tu as fait
    {{ moy_error }}
    erreurs par test
    </br>
    </br>
    </br>
    Test par item :
    {{ notes_item }}
    </br>
    moyenne par item :
    {% for k,v in notes_item.items %}
    {{ k }}{{ v }}
    {% endfor %}
    </br>
    </br>
    item par spe
    {{ notes_spe }}
    </br>
    moyenne par spe
    {% for k,v in notes_spe.items%}
    {{ k }}{{ v }}
    {% endfor %}
    <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        {% render_chart mean_chart 'moy_spec' %}
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        {% render_chart monthly_chart '2016' %}
    </div>
    </div>
{% endblock content %}


