{% load bbtricks static %}
{% load bleach_tags %}

<div class="card-row">
    <!-- Post-->
    <div class="post-module"> 
        <!-- Thumbnail-->
        <div class="thumbnail">
            <img src="{% static spe.image %}" class="img-responsive" alt="{{ spe.name }}">
        </div>
        <!-- Post Content-->
        <div class="post-content">
            {% if card %}
                {{ card.question | bleach | rev_content | safe}}
            {% else %}
            Aucune !!
            {% endif %}
        </div>
            <div style="position: absolute; bottom: 4px; text-align: center; width: 100%;">
                {% if card %}
                <a href="{% url 'cards:revision' card.id %}" class="btn"><i class="fa fa-play"></i> Réponse</a>
                {% else %}
                <a href="{% url 'cards:redirect' %}" class="btn"><i class="fa fa-play"></i> Apprendre</a>
                {% endif %}
                <br>
            </div>
    </div>
</div>
