{% load bbtricks static %}

<div class="card-row">
    <!-- Post-->
    <div class="post-module"> 
        <!-- Thumbnail-->
        <div class="thumbnail">
            <img src="{% static spe.image %}" class="img-responsive" alt="{{ spe.name }}">
        </div>
        <!-- Post Content-->
        <div class="post-content">
            {% if card %}
            {{ card.question }}<br>
            {% else %}
            Aucune !!
            {% endif %}
            <div class="space12"></div>
            {% if card %}
            <a href="{% url 'cards:revision' card.id %}" class="btn"><i class="fa fa-play"></i> Réponse</a>
            {% else %}
            <a href="{% url 'cards:redirect' %}" class="btn"><i class="fa fa-play"></i> Apprendre</a>
            {% endif %}
            <br>
        </div>
    </div>
</div>
