{% load i18n %}
{% load currency_filters %}
{% load staticfiles %}
{% load thumbnail %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load widget_tweaks %}
{% load bbtricks %}
{% load shipping_tags %}

{% if basket_warnings %}
<h5>{% trans "Important messages about items in your basket" %}</h5>
{% for warning in basket_warnings %}
<div class="alert">{{ warning }}</div>
{% endfor %}
{% endif %}

{% if upsell_messages %}
<div class="well">
    <h3>{% trans "You could be missing out on offers!" %}</h3>
    {% for upsell in upsell_messages %}
    {% blocktrans with message=upsell.message url=upsell.offer.get_absolute_url offer_name=upsell.offer.name %}
    <div class="warning">{{ message }} to qualify for the <a href="{{ url }}">{{ offer_name }}</a> special offer</div>
    {% endblocktrans %}
    {% endfor %}
</div>
{% endif %}

{% if not user.customer or not user.customer.has_active_subscription %}
<div class="row voucher-plan align-center">
    {% block vouchers %}
    {# Hide the entire section if a custom BasketView doesn't pass in a voucher form #}
    {% if voucher_form %}
    <div class="col-xs-12 col-md-12">
        <div class="sub-header">
            <h2>{% trans "Voucher/promo code" %}</h2>
        </div>
        <p id="voucher_form_link"><a class="btn btn-default btn-full">{% trans "I have a voucher code..." %}</a></p>

        <div id="voucher_form_container" style="display:none">
            <form id="voucher_form" action="{% url 'basket:vouchers-add' %}" method="post">
                {% csrf_token %}
                {% include "partials/form_fields.html" with form=voucher_form %}
                <button type="submit" class="btn btn-info" data-loading-text="{% trans 'Adding...' %}">{% trans "Add voucher" %}</button>
                {% trans "or" %} <a href="#" id="voucher_form_cancel">{% trans "cancel" %}</a>
            </form>
        </div>
    </div>
    {% endif %}
    {% endblock vouchers %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row" id="select-plan">
        <div class="etape1">{# eq select your plan #}
            <h2>{% trans "Profite de toutes les fonctionnalités du site pour" %}</h2>
            {% block basket_form_main %}
            <form action="{% url 'subscribe' %}" method="post" class="basket_summary" id="basket_formset">
                <span class="the-total-price">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    {# total basket shortcode #}
                    {% if selected_sub.attr.high_price %}
                    <span class="redStrikeHover">{{ selected_sub.attr.high_price }} €</span>
                    {% endif %}
                    {% if offer_discounts or voucher_discounts %}
                    <tr>
                        <th class="total align-right">
                            {% if not show_tax_separately and basket.is_tax_known %}
                            {{ basket.total_incl_tax|currency:basket.currency }}
                            {% else %}
                            {{ basket.total_excl_tax|currency:basket.currency }}
                            {% endif %}
                        </th>
                    </tr>
                    {% else %}
                    {# No discounts to basket #}
                    <tr>
                        <th class="total align-right">
                            {% if not show_tax_separately and basket.is_tax_known %}
                            {{ basket.total_incl_tax|currency:basket.currency }}
                            {% else %}
                            {{ basket.total_excl_tax|currency:basket.currency }}
                            {% endif %}
                            / mois
                        </th>
                    </tr>
                    {% endif %}
                </span>
                {% with offer_discounts=basket.offer_discounts voucher_discounts=basket.grouped_voucher_discounts %} 
                {% if voucher_discounts %}
                <br>
                {% for discount in voucher_discounts %}
                <span class="voucher"><i class="fa fa-arrow-right" aria-hidden="true"></i>
                    dont -{{ discount.discount|currency:basket.currency }} grâce au code <i>{{ discount.voucher.code }}</i>
                </span>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <br><br>
                <div class="tab-content">
                    <form action="{% url 'subscribe' %}" class="form-stacked" method="POST">
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                                                              data-key="{{ stripe_publishable_key }}" 
                                                                              data-name="{{ shop_name }}"
                                                                              data-description="Abonnement mensuel ({{ order_total.incl_tax|currency }})"
                                                                              data-image="{% static "images/apple-icon-120x120.png" %}"
                                                                              data-locale="auto"
                                                                              data-email="{{ user.email }}"
                                                                              data-label="Payer par carte">
                        </script>
                        <div style="display:none">
                            <input type="hidden" name="action" value="place_order" />
                            {{ stripe_token_form.as_p }}
                        </div>
                    </form>
                    <br><br>
                    {% for sub in subscriptions %}
                    <div id="pay_tab{{ sub.id }}" class="tab-pane fade{% if selected_sub.id == sub.id %} in active{% endif %}">
                        <p>{{ sub.description | sub_desc_custo | safe }}</p>
                    </div>
                    {% endfor %}
                </div>
            </form>
        </div> {# end select your plan #}
    </div>

</div>
{% endblock %}


{% else %}
<h1 class="black-font">Abonnement en cours</h2>
<div class="x_panel tile fixed_height_320 panel_shadow panel_last_activities">
    <div class="x_content">
        <div class="col-md-2">
        <img src="{% static "images/retro/13.jpg" %}"/>
        </div>
        <div class="col-md-10">
            <h4><i class="fa fa-chevron-right"></i> Montant : {{ user.customer.subscription.plan.amount }} € / mois</h4><br>
            {% if user.customer.subscription.cancel_at_period_end %}
            <h4><i class="fa fa-chevron-right"></i> Abonnement annulé le : {{ user.customer.subscription.canceled_at}} </h4><br>
            <h4><i class="fa fa-chevron-right"></i> Fin de l'abonnement : {{ user.customer.subscription.current_period_end }} </h4><br>
            <div class="align-center">
            <h4>Merci d'avoir utilisé BlouseBrothers !</h4>
            </div>
            {% else %}
            <h4><i class="fa fa-chevron-right"></i> Prochain échéance : {{ user.customer.subscription.current_period_end }} </h4><br>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
