{% extends 'account/email/email_base.html' %}


{% block body %}
<div style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:12px;line-height:14px;color:#ffffff;text-align:left;">
    <p style="margin: 0;font-size: 12px;line-height: 14px">
    <span style="color: rgb(230, 185, 255); font-size: 12px; line-height: 14px;">
        <strong>
            <span style="font-size: 24px; line-height: 28px;">﻿<span style="color: rgb(255, 204, 153); font-size: 24px; line-height: 28px;">Hello {{ user.username }},</span>
            </span>
        </strong>
    </span>
    <br>
    </p>
    <p style="margin: 0;font-size: 12px;line-height: 14px">
    <span style="color: rgb(255, 204, 153); font-size: 12px; line-height: 14px;">&nbsp;</span>
    <br>
    </p>
    <p style="margin: 0;font-size: 12px;line-height: 14px">
    <span style="color: rgb(255, 204, 153); font-size: 12px; line-height: 14px;">&nbsp;</span>
    <br>
    </p>
    <p style="margin: 0;font-size: 12px;line-height: 14px">
    <span style="color: rgb(255, 204, 153); font-size: 18px; line-height: 21px;">
        <strong>
            <span style="line-height: 21px; font-size: 18px;">Ton retrait de {{ payout.debited_funds }} a bien été effectué. Le transfert devrait être effectif sous peu sur ton compte (référence du transfert : {{ payout.mangopay_id }}).</span>
        </strong>
    </span>
    </p>
    <p style="margin: 0;font-size: 12px;line-height: 14px">
    <span style="color: rgb(255, 204, 153); font-size: 18px; line-height: 21px;">
        <strong>
            <span style="line-height: 21px; font-size: 18px;">Merci pour ta confiance et à tout de suite sur BlouseBrothers.<br>
            </span>
        </strong>
    </span>
    </p>
    <p style="margin: 0;font-size: 12px;line-height: 14px">
    <span style="font-size: 18px; line-height: 21px; color: rgb(255, 204, 153);">&nbsp;</span>
    <br>
    </p>
    <p style="margin: 0;font-size: 12px;line-height: 14px">
    <span style="color: rgb(230, 185, 255); font-size: 18px; line-height: 21px;">
        <strong>
            <span style="line-height: 21px; font-size: 18px;">
                <span style="color: rgb(255, 204, 153); font-size: 18px; line-height: 21px;">Guillaume et Julien.</span> <br>
            </span>
        </strong>
    </span>
    </p>
</div>
{% endblock body %}
