{% extends "confs/base.html" %}
{% load static %}{% load i18n %}
{% load crispy_forms_tags %}
{% load djng_tags %}
{% load tinycontent_tags %}
{% block title %}{% trans 'Confs' %}{% endblock %}

{% block styles %}
{{ block.super }}
{{ form.media.css }}
{% endblock %}

{% block content %}



{% include 'partials/submenu_conf_edit.html' %}
<div class='row'>
    <aside class="col-md-3">
        {% tinycontent 'redaction_tips' %}
        {% endtinycontent %}
    </aside>
    <div id="subject" class="col-md-9" >
        <div class="tabbable dashboard col-md-12">
            <div class="space"></div>
            <h1>Félicitations, c'est presque terminé !</h1>
            <div class="space"></div>
            {% if object.type != 'LCA' %}
                {% if items %}
                Voici une liste d'items pouvant correspondre au {{object.type}} "<strong>{{object.title}}</strong>" :
                <ul class="list">
                    {% for item in items %}
                    <li>{{ item.name }}</li>
                    {%endfor%}
                </ul>
                {% else %}
                Voici les items pouvant correspondre au {{ object.type }} "<strong>{{ object.title }}</strong>" (ajuste la sélection en ajoutant ou en retirant des items) :
                {% endif %}
            {% endif %}
            <form class="form" name="{{ form.form_name }}" novalidate enctype="multipart/form-data" method="post" action="{% url 'confs:final' object.slug %}">
                {% csrf_token %}
                <div class="tab-content">
                    <div id="conference">
                        {{ form | crispy }}
                    </div>
                </div>
                <br>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">{% trans "Valider" %}</button>
                    </div>
                </div>
            </form>
            <i class="publi_text">Ta conférence sera accessible sur le catalogue dans quelques minutes. Tu peux également la retirer à tout moment en décochant "Publier".</i>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{{ form.media.js }}
{{ block.super }}
{% endblock %}

{% block cdn_scripts %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script>
{% endblock %}

{% block extrastyles %}
{{ block.super }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" />
{% endblock %}

{% block onbodyload %}
$("[name='free']").bootstrapSwitch('onText', 'Oui', 'offText', 'Non');
$("[name='free']").bootstrapSwitch('offText', 'Non');
$("[name='for_sale']").bootstrapSwitch('onText', 'Oui', 'offText', 'Non');
$("[name='for_sale']").bootstrapSwitch('offText', 'Non');
{% endblock %}
