{% extends "layout.html" %}
{% load static %}{% load i18n %}
{% load crispy_forms_tags %}
{% load djng_tags %}
{% load tinycontent_tags %}
{% block title %}{% trans 'Confs' %}{% endblock %}

{% block styles %}
 {{ block.super }}
 {{ form.media.css }}
{% endblock %}

{% block submenu %}
{% include 'partials/submenu_conf_edit.html' %}
{% endblock %}

{% block content %}



    <div class='row'>
	<aside class="col-md-3">
	{% tinycontent 'redaction_tips' %}
	{% endtinycontent %}
	</aside>
	<div id="subject" class="col-md-9" >
	  <div class="tabbable dashboard col-md-12">
	    {% if object %}
	    <form class="form" name="{{ form.form_name }}" novalidate enctype="multipart/form-data" method="post" action="{% url 'confs:edit' object.slug %}">
	    {% else %}
	    <form class="form" name="{{ form.form_name }}" novalidate enctype="multipart/form-data" method="post" action="{% url 'confs:create' %}">
	    {% endif %}
            {% csrf_token %}
	    <div class="tab-content">
	      <div id="conference">
                {{ form | crispy }}
                <a class="btn btn-success" href="https://form.jotformeu.com/gdebel/prepa_ecni_collaborative"><i class="fa fa-lightbulb-o" aria-hidden="true" style="font-size: 18pt;"></i> Ma conf est déjà sur un fichier ! Je vais pas tout retaper...</a>
	      </div>
	    </div>
	    <br>
	    <div class="control-group">
	      <div class="controls">
		      <button type="submit" class="btn">{% trans "Enregistrer et continuer" %} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
	      </div>
	    </div>
	    </form>
	  </div>
	</div>
    </div>
{% endblock content %}

{% block scripts %}
{{ block.super }}
{% endblock %}

