{% extends "layout.html" %}
{% load static %}{% load i18n %}
{% block title %}{% trans 'Confs' %}{% endblock %}

{% block submenu %}
	<span class="numtip">1</span> <a href="{% url 'confs:edit' object.slug %}"> {% trans "Choix du type de sujet" %}</a>
	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	<span class="numtip">2</span> <strong>{% trans "Rédaction des questions" %}</strong>
	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	<span class="numtip">3</span> {% trans "Finalisation" %}
{% endblock %}

{% block content %}
<div class="ng-scope" ng-app='djangular-bb'>
<div ng-controller="ConfFormCtrl" class="container" ng-cloak >
<toaster-container toaster-options="{'time-out': 1000}"></toaster-container>
{% comment %}
AngularJS Toaster is an AngularJS port of the toastr non-blocking notification jQuery library. It requires AngularJS v1.2.6 or higher and angular-animate for the CSS3 transformations.
{% endcomment %}
    <div class='row'>
	<aside class="col-md-3 hidden-sm hidden-xs">
	{% include 'partials/nav_questions.html' %}
	</aside>

	<div class="col-md-9" >
	  Mots clés trouvés :
	  {% if user.is_superuser %}
	  {% verbatim %}
	  <ul>
		  <li ng-repeat="x in kwords">{{ x }}</li>
	  </ul>
	  {% endverbatim %}
	  {% endif %}
	  <div ng-if="conference.type == 'QI'">
	    <form novalidate class="question-form">
	    <input type="text" class="ititle no-border-form form-control" ng-model="conference.title" placeholder="Titre"/><br/>
	    </form>
	  </div>
	  <div ng-if="conference.type == 'DCP'">
	    <a class="btn" ng-init="isSubjectDiplayed = true" ng-click="isSubjectDiplayed = !isSubjectDiplayed">
	          <div ng-if="isSubjectDiplayed">
	            Masquer le sujet du DCP
	          </div>
	          <div ng-if="!isSubjectDiplayed">
	            Afficher le sujet du DCP
	          </div>
	    </a>
	    <div id="subject" ng-show="isSubjectDiplayed" class="well well-white" >
	        {% verbatim %}
	        <form novalidate class="question-form">
	        <input type="text" class="ititle no-border-form form-control" ng-model="conference.title" placeholder="Titre du sujet"/><br />
	        <textarea type="text" class="no-border-form form-control" ng-model="conference.statement" placeholder="Énoncé" rows="10"></textarea><br />
	        </form>
	        <a class="btn" ng-click="isImagesDiplayed = !isImagesDiplayed">
	              <div ng-if="isImagesDiplayed">
	                Masquer les illustrations
	              </div>
	              <div ng-if="!isImagesDiplayed">
	                Afficher les illustrations
	              </div>
	        </a>
		<div class="illustrations" ng-show="isImagesDiplayed" id="images_div">
		  <div ng-repeat="image in conferenceimages">
		    <img src="{{ static_media(image.image) }}"/>
		    <input ng-model="image.caption" class="material_form form-control" placeholder="Légende" required="false" type="text"/>
		    <a class="btn btn-primary" href="" ng-click="deleteimg(image, conferenceimages)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Supprimer l'image</a>
		  </div>
		  <button class="btn btn-primary" type="file" ngf-select="uploadFiles($file, $invalidFiles, 'conf')"
			  accept="image/*" ngf-max-height="5000" ngf-max-size="5MB">
		      <span class="glyphicon glyphicon-open" aria-hidden="true"></span> Ajouter une image</button>
		  <br><br>
		  Image:
		  <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
		      <span class="progress" ng-show="f.progress >= 0">
			  <div style="width:{{f.progress}}%"  
			       ng-bind="f.progress + '%'"></div>
		      </span>
		  </div>     
		  {{errorMsg}}
		</div>
	    </div>
	    <br>
	  </div>
		
	  
	  <div ng-if="question">
		  <legend>Question {{ question.index + 1 }} <a name="question"> </a> </legend>
	    <form novalidate class="question-form">
		    <label><select class="selectpicker" ng-model="question.coefficient"><option ng-repeat="option in [1,2,3,4,5,6,7,8,9,10]" value="{{option}}">{{option}}</option></select> Coefficient </label><br>
		    <textarea type="text" class="no-border-form form-control" ng-model="question.question" placeholder="Énoncé"></textarea><br />
	    </form>

	    <div ng-repeat="image in questionimages">
	      <img src="{{ static_media(image.image) }}"/>
	      <input ng-model="image.caption" class="material_form form-control" placeholder="Légende" required="false" type="text"/>
	      <a class="btn btn-primary" href="" ng-click="deleteimg(image, questionimages)">Supprimer l'image</a>
	    </div>

  	    <button class="btn btn-primary" type="file" ngf-select="uploadFiles($file, $invalidFiles, 'question')"
  	            accept="image/*" ngf-max-height="5000" ngf-max-size="5MB">
  	        <span class="glyphicon glyphicon-open" aria-hidden="true"></span> Ajouter une image</button>
  	    <br><br>
  	    Image:
  	    <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
  	        <span class="progress" ng-show="f.progress >= 0">
  	            <div style="width:{{f.progress}}%"  
  	                 ng-bind="f.progress + '%'"></div>
  	        </span>
  	    </div>     
  	    {{errorMsg}}
  
	  </div>       
	  <form class="form-horizontal">
	   <fieldset>
	   <legend>Réponses {{ valid_q.indexOf(question.pk) !== -1 ? '' : '(complétez chaque réponse et définissez au moins une réponse juste)'}} </legend>
	   <div class="well well-answer" ng-repeat="answer in answers">
	     <span class='well-title'>{{ans_label[answers.indexOf(answer)]}}</span>
	     <div class="form-group">
	       <div class="col-sm-12">
	            <input ng-model="answer.answer" class="material_form form-control" placeholder="Réponse {{ans_label[answers.indexOf(answer)]}}" required="true" type="text"/>
	            <label><input type="checkbox" ng-model="answer.correct"/> Correcte ?</label><br>
	            <label><input type="checkbox" ng-model="answer.ziw"/> Zéro si erreur</label><br>
	       </div>
	     </div>
	     <div class="form-group">
	       <div class="well col-sm-12">
	         <legend>Explication</legend>
	         <text-angular ng-model="answer.explaination" ta-toolbar="[['insertLink', 'insertVideo']]"></text-angular>
	       </div>
	     </div>
	     <div ng-if="answer.explaination_image != ''">
	     <img src="{{ static_media(answer.explaination_image) }}"/>
	     <a class="btn btn-primary" href="" ng-click="deleteansimg(answer)">Supprimer l'image</a>
	     </div>
	     <button class="btn btn-primary" type="file" ngf-select="selected_answer = uploadFiles($file, $invalidFiles, answer)"
	             accept="image/*" ngf-max-height="5000" ngf-max-size="5MB">
	         <span class="glyphicon glyphicon-open" aria-hidden="true"></span> Ajouter une image</button>

	   </div>
	   </fieldset>
	   </form>
	   <button class="btn" ng-click="previous_question()" ng-disabled="questions.indexOf(question) <= 0"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Question précédente</button>
	   <button class="btn pull-right" ng-click="next_question()" ng-disabled="questions.indexOf(question) >= 14">Question suivante <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
	  <h2 class="text-center">Sujet complété à {{ progress | number : 0 }}%</h2>
	  <div class="progress">
	     <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ progress }}%">
		<span class="sr-only">{{ progress }}% Complete</span>
	    </div>
	  </div>
	  {% endverbatim %}
	</div>
    </div>
	<aside class="hidden-md col-xs-12 hidden-lg">
	  {% include 'partials/nav_questions.html' %}
	</aside>


</div>
</div>
{% endblock content %}


{% block scripts %}
{% include 'partials/confjs.html' %}
{% endblock %}

{% block onbodyload %}
{% endblock %}
