{% extends "layout.html" %}
{% load static %}{% load i18n %}
{% load crispy_forms_tags %}
{% load djng_tags %}
{% block title %}{% trans 'Confs' %}{% endblock %}

{% block styles %}
 {{ block.super }}
 {{ form.media.css }}
{% endblock %}

{% block submenu %}
	<span class="numtip">1</span> <a href="{% url 'confs:edit' object.slug %}"> {% trans "Choix du type de sujet" %}</a>
	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	<span class="numtip">2</span> <a href="{% url 'confs:update' object.slug %}"> {% trans "Rédaction des questions" %}</a>

	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	<span class="numtip">3</span> <strong>{% trans "Finalisation" %}</strong>
{% endblock %}

{% block content %}



    <div class='row'>
	<aside class="col-md-3">
	    <div style="max-width:400px;">
	      <header class="tips bb-container bb-light-grey bb-padding-16">
	      <h3>Conseils <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> </h3>
	      </header>
	      <ul class="list" > 
		      <li>Un prix juste, c'est plus de ventes</li>
		      <li>Evitez tout terme subjectif </li>
		      <li>Justifiez tout de manière détaillée</li>
		      <li>Mettez des liens vers les conf de consensus</li>
		      <li>Pensez à la physiopath et à l'anat</li>
		      <li>Ne plagiez rien</li>
		      <li>Une seule notion par question</li>
		      <li>Pas de réponses trop faciles</li>
		      <li>Mettez des icono</li>
	      </ul>
	    </div>
	</aside>
	<div id="subject" class="col-md-9" >
	  <div class="tabbable dashboard col-md-12">
	    <h1>Félicitation, c'est presque terminé !</h1>
	    {% if items %}
	    Voici une liste d'items pouvant correspondre au {{object.type}} "<strong>{{object.title}}</strong>" :
	    <ul class="list">
		    {% for item in items %}
		    <li>{{ item.name }}</li>
		    {%endfor%}
	    </ul>
	    {% else %}
	    Voici les items pouvant correspondre au {{ object.type }} "<strong>{{ object.title }}</strong>" (ajuste la sélection en ajoutant ou en retirant des items) :
	    {% endif %}
	    <form class="form" name="{{ form.form_name }}" novalidate enctype="multipart/form-data" method="post" action="{% url 'confs:final' object.slug %}">
            {% csrf_token %}
	    <div class="tab-content">
	      <div id="conference">
                {{ form | crispy }}
	      </div>
	    </div>
	    <br>
	    <div class="control-group">
	      <div class="controls">
		      <button type="submit" class="btn">{% trans "Valider" %}</button>
	      </div>
	    </div>
	    </form>
	  </div>
	</div>
    </div>
{% endblock content %}

{% block scripts %}
{{ form.media.js }}
{{ block.super }}
{% endblock %}

