{% extends "layout.html" %}
{% load static %}{% load i18n %}
{% block title %}{% trans 'Confs' %}{% endblock %}

{% block content %}
<div class="container">

    <div class="row theader">
        <div class="col-md-6">
            <h2>{% trans 'Confs créées' %}</h2>
            <p>{% trans 'Éditer mes conférences' %}</p>
        </div>
        <div class="col-md-6">
            {% include 'partials/submenu_search.html' with actionurl="confs:list" %}
        </div>
    </div>

    <div class="list-group">
        {% for conference in conference_list %}
        {% include 'catalogue/partials/share_product.html' with product=conference.products.all|first %}
        <a href="{% url 'confs:detail' conference.slug %}" class="list-group-item">
            <h4 class="list-group-item-heading"><strong>{{ conference.title }}</strong><br>
                <i>- {{ conference.summary }} -</i>
            </h4>
        </a>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{conference.edition_progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{conference.edition_progress}}%">
                {{conference.edition_progress}}%
            </div>
        </div>

        {% endfor %}

    </div>
    {% include 'partials/pagination.html' %}
</div>

{% endblock content %}
