{% extends "layout.html" %}
{% load static %}{% load i18n %}
{% load crispy_forms_tags %}
{% load djng_tags %}
{% block title %}{% trans 'Confs' %}{% endblock %}

{% block submenu %}
	<p class="blouse-font">{% trans "Rédaction d'un sujet" %}</p>
{% endblock %}

{% block content %}

<div ng-controller="ConfFormCtrl" class="container">


    <div class='row'>
	<aside class="col-md-3">
	    <ul class="nav nav-pills  nav-stacked">
		<li class="active"><a href ng-click="showsubject=true"><i class="fa fa-file-text-o fa-fw"></i> {% trans "Sujet" %}</a></li>
	    </ul>
	    {% verbatim %}
	    <div ng-app="myShoppingList" ng-cloak class="bb-card-2 bb-margin" style="max-width:400px;">
	    <header class="bb-container bb-light-grey bb-padding-16">
	    <h3>Questions</h3>
	    </header>
	    <ul class="nav nav-pills  nav-stacked">
		    <li ng-repeat="x in questions" class="bb-padding-16"><a href ng-click="showsubject=false"><i class="fa fa-comment fa-fw"></i>{{ $index }} : {{x.question | limitTo: 20}} ...</a></li>
	    </ul>
	    <div class="bb-container bb-light-grey bb-padding-16">
	    <div class="bb-row bb-margin-top">
	    <div class="bb-col s10">
	    	<input placeholder="Saisissez une question ici" ng-model="addMe" class="form-control bb-border bb-padding">
	    </div>
	    <div class="bb-col s2">
	    	<button ng-click="addItem()" class="btn bb-padding bb-green">Ajouter</button>
	    </div>
	    </div>
	    <p class="bb-padding-left bb-text-red">{{errortext}}</p>
	    </div>
	    </div>
	    {% endverbatim %}
	</aside>

	<div id="subject" class="col-md-9" >
	  <div class="tabbable dashboard col-md-12">

	    {% if object %}
	    <form class="form" name="{{ form.form_name }}" novalidate action="{% url 'confs:update' object.slug %}">
	    {% else %}
	    <form class="form" name="{{ form.form_name }}" novalidate method="post" action="{% url 'confs:create' %}">
	    {% endif %}
            {% csrf_token %}
	    <div class="tab-content">
	      <div id="conference" ng-show="showsubject" ng-init="showsubject=true">
                {{ form }}
	      </div>
	    </div>

	    <div class="control-group">
	      <div class="controls">
		      <button ng-click="submit()" class="btn">{% trans "Valider" %}</button>
	      </div>
	    </div>
	    </form>

	      <div id="question" ng-show="showsubject">
		<form novalidate class="question-form">
		Énoncé : <input type="text" ng-model="question.question" /><br />
		</form>

	      </div>

	  </div>
	</div>
    </div>
</div>


{% endblock content %}

{% block scripts %}
<script type="text/javascript">
var myServices = angular.module('myServices', ['ngResource']);
var my_app = angular.module('djangular-bb', ['myServices', 'djng.forms']);
{% if object %}
var slug="{{ object.slug }}"
{% else %}
var slug=""
{% endif %}

myServices.factory('Question', ['$resource', function($resource) {
	return $resource('{% url 'confs:question_crud_view' %}', {'pk': '@pk'}, {
		        });
}]);
myServices.factory('Conference', ['$resource', function($resource) {
	return $resource('{% url 'confs:conference_crud_view' %}', {'pk': '@pk'}, {
		        });
}]);
myServices.factory('Answer', ['$resource', function($resource) {
	return $resource('{% url 'confs:answer_crud_view' %}', {'pk': '@pk'}, {
		        });
}]);
my_app.config(function($httpProvider) {
	    $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
	    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
	    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
});

my_app.controller('ConfFormCtrl', function($scope, $http, $window, djangoForm) {
    $scope.submit = function() {
	if ($scope.conf_data) {
		$http.post(".", $scope.conf_data).success(function(out_data) {
			if (!djangoForm.setErrors($scope.conf_form, out_data.errors)) {
				// on successful post, redirect onto success page
				$window.location.href = out_data.success_url;
			}
		}).error(function() {
		console.error('An error occured during submission');
		});
	}
	return false;
    }
});

my_app.controller("ConfFormCtrl", function($scope, Conference, Question, Answer) {
    $scope.addItem = function () {
        $scope.errortext = "";
        if (!$scope.addMe) {return;}
	$scope.question = new Question({
		conf: $scope.conference.id,
		question: $scope.addMe,
	})
	$scope.questions.push(new_model);
	$scope.question.index = $scope.questions.indexOf($scope.question)
	$scope.question.$save(function(){
		$scope.showsubject = false;
	});
    }
    $scope.removeItem = function (x) {
        $scope.errortext = "";    
        $scope.questions.splice(x, 1);
    }
    $scope.init_model = function () {
	if (slug != ""){
		$scope.conference = Conference.get({slug: slug});
		$scope.questions = Question.query({conf : $scope.conference.id});
	}
	else{
		$scope.showsubject = true;
	}
    }
    $scope.init_model();
});
</script>
{% endblock %}
