{% extends "layout.html" %}
{% load static %}
{% load i18n %}
{% load bbtricks %}
{% load currency_filters %}
{% block title %}{% trans 'Confs' %}{% endblock %}

{% block content %}
<div class="container">

    <div class="row theader">
        <div class="col-md-6">
            <h2>{% trans 'Confs créées' %}</h2>
            <p>{% trans 'Éditer mes conférences' %}</p>
        </div>
        <div class="col-md-6">
            {% include 'partials/submenu_search.html' with actionurl="confs:list" %}
        </div>
    </div>

    <div class="list-group">
        {% for conference in conference_list %}
        <div class="list-group-item">
            <a href="#share_{{conference.slug}}" data-toggle="collapse" class="share"><i class="fa fa-share-alt-square" aria-hidden="true"></i></a>
            <div id="share_{{conference.slug}}" class="collapse share-group">
                {% include 'catalogue/partials/share_product.html' with product=conference.products.first %}
            </div>
            <div class="conf-title">
                <a href="{% url 'confs:detail' conference.slug %}" >
                    <h4 class="list-group-item-heading"><strong>{{ conference.title }}</strong><br>
                        <div class="hidden-xs"><i>- {{ conference.summary }} -</i></div>
                    </h4>
                </a>
            </div>
            <div class="conf-price">
                <a href="{% url 'confs:final' conference.slug %}#div_id_price" >
                {{ conference.price }} €
                </a>
            </div>


			<div class="panel-body">
				<ul class="col-md-12 stats">
					<li class="stat col-md-3 col-sm-3 col-xs-6">
                        <span><b class="value">{{ conference.products.first.stats.num_views }}</b><br> Consultations</span>
						<em>Depuis le début</em>
					</li>
					<li class="stat col-md-3 col-sm-3 col-xs-6">
						<span><b class="value">{{ conference | week_sales }}</b><br> Achats</span>
						<em>Cette semaine</em>
					</li>
					<li class="stat col-md-3 col-sm-3 col-xs-6">
						<span><b class="value">{{ conference | today_sales }}</b><br> Achats</span>
						<em>Aujourd'hui</em>
					</li>
					<li class="stat col-md-3 col-sm-3 col-xs-6">
						<span><b class="value">{{ conference | month_revenu | currency }}</b><br> Revenus</span>
						<em>Ce mois</em>
					</li>
				</ul>
			</div>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{conference.edition_progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{conference.edition_progress}}%">
                {{conference.edition_progress}}%
            </div>
        </div>

        {% endfor %}

    </div>
    {% include 'partials/pagination.html' %}
</div>

{% endblock content %}
