{% extends "layout.html" %}
{% load static %}{% load i18n %}
{% load crispy_forms_tags %}
{% load djng_tags %}
{% load tinycontent_tags %}
{% block title %}{% trans 'Confs' %}{% endblock %}

{% block styles %}
 {{ block.super }}
 {{ form.media.css }}
{% endblock %}

{% block submenu %}
{% include 'partials/submenu_conf_edit.html' %}
{% endblock %}
{% block content %}



    <div class='row'>
	<aside class="col-md-3">
	{% tinycontent 'redaction_tips' %}
	{% endtinycontent %}
	</aside>
	<div id="subject" class="col-md-9" >
	  <div class="tabbable dashboard col-md-12">
	    <h1>Félicitations, c'est presque terminé !</h1>
	    {% if items %}
	    Voici une liste d'items pouvant correspondre au {{object.type}} "<strong>{{object.title}}</strong>" :
	    <ul class="list">
		    {% for item in items %}
		    <li>{{ item.name }}</li>
		    {%endfor%}
	    </ul>
	    {% else %}
	    Voici les items pouvant correspondre au {{ object.type }} "<strong>{{ object.title }}</strong>" (ajuste la sélection en ajoutant ou en retirant des items) :
	    {% endif %}
	    <form class="form" name="{{ form.form_name }}" novalidate enctype="multipart/form-data" method="post" action="{% url 'confs:final' object.slug %}">
            {% csrf_token %}
	    <div class="tab-content">
	      <div id="conference">
                {{ form | crispy }}
	      </div>
	    </div>
	    <br>
	    <div class="control-group">
	      <div class="controls">
		      <button type="submit" class="btn">{% trans "Valider" %}</button>
	      </div>
	    </div>
	    </form>
	  </div>
	</div>
    </div>
{% endblock content %}

{% block scripts %}
{{ form.media.js }}
{{ block.super }}
{% endblock %}

