{% extends "layout.html" %}
{% load static %}
{% load i18n %}
{% load youtube %}
{% load bbtricks %}

{% block title %}{{ object.title}}{% endblock %}

{% block submenu %}
      <a class="btn" href="{% url 'confs:edit' object.slug %}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editer la conférence</a>
     Rédaction complétée à {{ object.edition_progress }}%
      <a class="btn btn-danger pull-right" href="{% url 'confs:delete' object.slug %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Supprimer la conférence</a>
{% endblock %}
{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.title}}</h2>
    </div>
  </div>

<!-- Action buttons -->
  <div class="row">
  
    <div class="col-sm-12 ">
	  <legend>Détails </legend>
  	  <strong>Type :</strong> {{object.type}}<br>
  	  <strong>Items :</strong> {{object.items.all | join:", "}}<br>
  	  <strong>Specialités :</strong> {{object.specialities.all | join:", "}}<br>
  	  <strong>Esprit du dossier :</strong> {{object.summary|default:"<i>aucun</i>"}}<br>
	  <br>
	  {% if object.type == 'DCP' %}
	  <legend>Énoncé</legend><p> {{ object.statement | default:"<i>aucun</i>"}}<p>
	  <legend>Illustrations</legend>
	  {% for image in object.images.all %}
	  <div class="illustrations" id="images_div">
		  <figure>
		  <img src="{{ image.image.url }}"/>
		  <figcaption>{{ image.caption }}</figcaption>
		  </figure>
	  </div>
	  {% empty %}
	  <i>Aucune</i>
	  {% endfor %}
	  {% endif %}
      <!-- Your Stuff: Custom user template urls -->
    </div>
    <h2>Questions</h2>
   
    {% for question in object.questions.all|dictsort:"index" %}
    <div class="well well-white">
	    <legend>Question {{ question.index | add:"1" }} {% if not question.is_valid %}<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{% endif %}</legend>
      <div class="col-sm-12">
	      <strong>Énoncé :</strong><p>{{ question.question | default:"<i>aucun</i>"}}</p>
      </div>
      {% for image in question.images.all %}
      <div class="illustrations" id="images_div">
	      <figure>
	      <img src="{{ image.image.url }}"/>
	      <figcaption>{{ image.caption }}</figcaption>
	      </figure>
      </div>
      {% endfor %}
      {% for answer in question.answers.all %}
      <div class="col-sm-12 {% if answer.correct %}correct{% else %}notcorrect{% endif %}">
	      <strong>Réponse {{ answer.index | to_char }} <i class="fa fa-{% if answer.correct %}check"{% else %}times"{% endif %} aria-hidden="true"></i>:</strong> <p>{{ answer.answer | default:"<i>A compléter</i>" }}</p>
	      <strong>Explication :</strong> <p>{{ answer.explaination | default:"<i>aucune</i>" | youtube | safe }}</p>
	      {% if answer.explaination_image %}
	      <img src="{{ answer.explaination_image.url }}"/>
	      {% endif %}
      </div>
     {% endfor %}
   </div>
   {% endfor %}
  </div>
<!-- End Action buttons -->
</div>
{% endblock content %}
