{% extends "layout.html" %}
{% load static %}

{% block title %}{{ object.title}}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.title}}</h2>
	<div class="progress">
	   <div class="progress-bar" role="progressbar" aria-valuenow="{{ object.edition_progress }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ object.edition_progress }}%"/>
	      <span class="sr-only">{{ object.edition_progress }}% Complete</span>
	</div>
    </div>
    <p>Rédaction complétée à {{ object.edition_progress }}%</p>
  </div>

<!-- Action buttons -->
  <div class="row">
  
    <a class="btn btn-primary" href="{% url 'confs:update' object.slug %}">Editer</a>
    <div class="col-sm-12 ">
  	  <strong>Type :</strong> {{object.type}}
  	  <strong>Items :</strong> {{object.items.all | join:", "}}
  	  <strong>Specialités :</strong> {{object.specialities.all | join:", "}}
  	  <strong>Résumé :</strong> {{object.abstract}}
      <!-- Your Stuff: Custom user template urls -->
    </div>
    <h2>Questions</h2>
    {% for question in object.questions.all %}
    <div class="well {% if not question.is_valid %}well-warning{% endif %}">
	    <legend>Question {{ question.index | add:"1" }} {% if not question.is_valid %}<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{% endif %}</legend>
      <div class="col-sm-12 col-md-6 ">
	      <strong>Énoncé :</strong><p>{{ question.question | default:"<i>aucun</i>"}}</p>
      </div>
      {% for answer in question.answers.all %}
      <div class="col-sm-12 col-md-6 {% if answer.correct %}correct{% else %}notcorrect{% endif %}">
	      <strong>Réponse {{ forloop.counter }}:</strong> <p>{{ answer.answer | default:"<i>A compléter</i>" }}</p>
	      <strong>Explication :</strong> <p>{{ answer.explaination | default:"<i>aucune</i>" }}</p>
  	<strong>{% if answer.correct %}Bonne réponse{% else %}Mauvaise réponse{% endif %}</strong>
      </div>
     {% endfor %}
   </div>
   {% endfor %}
  </div>
<!-- End Action buttons -->
</div>
{% endblock content %}
