{% extends "layout.html" %}
{% load static %}
{% load i18n %}
{% load youtube %}
{% load bbtricks %}
{% load cropping %}

{% block title %}{{ object.conf.title}}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.conf.title}}</h2>
      {% if object.has_review %}
      <legend>Résultats</legend>
      <strong>Score :</strong> <big>{{ object | score100 }}</big> / 100 <br>
      <strong>Temps :</strong> {{object.time_taken | time:"H:i:s" }}<br>
      <strong>Erreurs :</strong> {{object.nb_errors }}<br>
      <strong>Erreurs graves :</strong> {{ object.fatal_errors | length }}<br>
      <br>
      {% endif %}
    </div>
  </div>

<!-- Action buttons -->
  <div class="row">
  
    <div class="col-sm-12 ">
	  {% if user == object.conf.owner or user.is_superuser %}
	  <form action="{% url 'confs:test_reset' object.conf.slug %}" id="signin_form" method="post">
	    {% csrf_token %}
	    <button id="reset-test-button" class="btn btn-primary pull-right" type="submit"><i class="fa fa-undo" aria-hidden="true"></i> {% trans "Recommencer" %}</button>
	  </form>
	  {% endif %}

	  {% if object.conf.type == 'DCP' %}
	  <legend>Énoncé</legend><p> {{ object.conf.statement | default:"<i>aucun</i>"}}<p>
	  <legend>Illustrations</legend>
	  {% for image in object.conf.images.all %}
	  <div class="illustrations" id="images_div">
		  <figure>
		  <img src="{% cropped_thumbnail image "cropping" %}">
		  <figcaption>{{ image.caption }}</figcaption>
		  </figure>
	  </div>
	  {% empty %}
	  <i>Aucune</i>
	  {% endfor %}
	  {% endif %}
      <!-- Your Stuff: Custom user template urls -->
    </div>
    <h2>Questions</h2>
   
    {% for t_answer in object.answers.all|dictsort:"question.index" %}
    <div class="well well-white question">
	    <div class="col-sm-6">
	      <h1 id="question-{{t_answer.question.index | add:"1"}}">{{ t_answer.score |floatformat:2 }} / {{ t_answer.max_score }}</h1>
	    </div>
	    <div class="col-sm-6">
	      <a class="pull-right commenting btn" data-toggle="modal" data-target="#myModal"> <i class="fa fa-commenting" aria-hidden="true" data-question-id="{{ t_answer.question.id }}"></i> Signaler un problème au Conférencier</a>
	    </div>
	    <legend>Question {{ t_answer.question.index | add:"1" }} </legend>
      <div class="col-sm-12">
	      <big><p>{{ t_answer.question.question | default:"<i>aucun</i>"}}</p></big>
      </div>
      {% for image in t_answer.question.images.all %}
      <div class="illustrations" id="images_div">
	      <figure>
	      <img src="{% cropped_thumbnail image "cropping" %}">
	      <figcaption>{{ image.caption }}</figcaption>
	      </figure>
      </div>
      {% endfor %}
      <legend>Réponses</legend>
      <big><p>{{ t_answer.question.explaination| default:"" | safe }}</p></big>
      {% for image in t_answer.question.explaination_images.all %}
      <div class="illustrations" id="images_div">
	      <figure>
	      <img src="{% cropped_thumbnail image "cropping" %}">
	      <figcaption>{{ image.caption }}</figcaption>
	      </figure>
      </div>
      {% endfor %}
      
      {% for answer in t_answer.question.answers.all %}
      <div class="col-sm-12 {{ answer | is_good_css:t_answer }}">
	      <strong>
		{{ answer | get_checked_fa:t_answer }}
		Proposition {{ answer.index | to_char }} {{ answer | zero_cause_error_label:t_answer }}:
{{ answer | result_icon:t_answer }}
	      </strong> 
	      <p>{{ answer.answer | default:"<i>A compléter</i>" }}</p>
	      <strong>Réponse  : {% if answer.correct %}VRAI{% else %}FAUX{% endif %}</strong> <p>{{ answer.explaination | default:"" | youtube | safe }}</p>
	      {% for image in answer.images.all %}
	      <div class="illustrations" id="images_div">
	        <figure>
	          <img src="{% cropped_thumbnail image "cropping" %}">
	      	  <figcaption>{{ image.caption }}</figcaption>
	        </figure>
	      </div>
	      {% endfor %}
      </div>
     {% endfor %}
   </div>
   {% endfor %}
	  {% if not object.has_review %}
	    {% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id as add_review_url %}
        <div class="text-center">
	      <a class="btn btn-success btn-getscore" href="{{ add_review_url }}#addreview"><i class="fa fa-edit" aria-hidden="true"></i> Laisse un avis pour accéder à ta note !</a>
        </div>
	  {% endif %}
  </div>
<!-- End Action buttons -->
</div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel"><i class="fa fa-commenting" aria-hidden="true"></i> Signaler un problème</h4>
	      </div>
	      <div class="modal-body">
		<textarea id="commenttextarea" name="textarea" rows="10" cols="50"></textarea>
	      </div>
	      <div class="modal-footer">
		<button id="send_comment" type="button" class="commenting btn btn-default" data-dismiss="modal">Envoyer</button>
	      </div>
	    </div>
	  </div>
	</div>

{% endblock content %}



{% block scripts %}
{{ block.super }}
<script type="text/javascript">
var question_id_comment = 0;
// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
$("a .fa-commenting").click( function(){
	question_id_comment = $(this).data("question-id");
});

$("#send_comment").click(function(){
	$.post(
		"{% url 'confs:question_comment' %}",
		{ 
			question_id : question_id_comment,
			comment :  $('textarea#commenttextarea').val(),
		});

});

</script>
{% endblock %}
