{% extends "layout_angular.html" %}
{% load static %}
{% load i18n %}
{% load tinycontent_tags %}
{% block title %}{% trans 'Confs' %}{% endblock %}

{% block submenu %}
{% endblock %}

{% block content %}
<div class="container">
    <toaster-container toaster-options="{'time-out': 5000}"></toaster-container>
    {% comment %}
    AngularJS Toaster is an AngularJS port of the toastr non-blocking notification jQuery library. It requires AngularJS v1.2.6 or higher and angular-animate for the CSS3 transformations.
    {% endcomment %}
    <div class='row'>
        <aside class="col-md-3 hidden-sm hidden-xs">
            {% include 'partials/nav_test_questions.html' %}
        </aside>

        <div class="col-md-9 test-main-col" >
            <div ng-if="conference.type == 'QI'">
                {{conference.title}}<br/>
            </div>
            <div ng-if="conference.type != 'QI'">
                <a class="btn" ng-init="isSubjectDiplayed = true" ng-click="isSubjectDiplayed = !isSubjectDiplayed">
                    <div ng-if="isSubjectDiplayed">
                        <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> Masquer le sujet du DCP
                    </div>
                    <div ng-if="!isSubjectDiplayed">
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> Afficher le sujet du DCP
                    </div>
                </a>
                <div id="subject" ng-show="isSubjectDiplayed" class="well well-white" >
                    {% verbatim %}
                    <form novalidate class="question-form">
                        <div class="col-sm-12">
                            <div class="col-sm-9">
                                <p class="ititle"/>{{conference.title}}</p>
                            </div>
                            <div class="col-sm-3">
                                <span class='well-title'>Sujet</span>
                            </div>
                        </div>
                        {% endverbatim %}
                        <p>{{object.conf.statement|linebreaks}}</p>
                        {% verbatim %}
                    </form>
                    <div ng-show="conferenceimages.length > 0">
                        <a class="btn" ng-init="isImagesDiplayed = true" ng-click="isImagesDiplayed = !isImagesDiplayed">
                            <div ng-if="isImagesDiplayed">
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> Masquer les illustrations
                            </div>
                            <div ng-if="!isImagesDiplayed">
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> Afficher les illustrations
                            </div>
                        </a>
                        <div class="illustrations" ng-show="isImagesDiplayed" id="images_div">
                            <div ng-repeat="image in conferenceimages">
                                <img ng-src="{{static_media(image.image)}}"/>
                                <figcaption>{{image.caption}}</figcaption>
                            </div>
                            <br><br>
                        </div>
                    </div>
                </div>
                <br>
            </div>


            <div class="well well-white" ng-if="question">
                <div class="col-sm-6 col-xs-4">
                    <span ng-class="timer_class">
                        <timer start-time="start_time" interval="1000">
                        {{hhours}}:{{mminutes}}:{{sseconds}}
                        </timer>
                    </span>
                </div>
                <div class="col-sm-6 col-xs-8">
                    <span class='well-title'><span class="hidden-xs">Question </span>{{ question.index + 1 }} </span>
                </div>
                <div class="col-xs-12">
                    <p class="angular-with-newlines" ng-bind-html="question.question | safe"</p>
                </div>

                <div ng-repeat="image in questionimages">
                    <img ng-src="{{ static_media(image.image) }}"/>
                    <figcaption>{{image.caption}}</figcaption>
                </div>
            </div>       
            <br>
            <form class="form-horizontal">
                <fieldset>
                    <div ng-repeat="answer in answers">
                        <button type="button" class="btn-answer" id="answer{{ans_label[answers.indexOf(answer)]}}" ng-disabled="{{ conference.type == 'DCP' && question.answered }}" ng-click="answer.correct = !answer.correct" ng-class="{'btn-checked': answer.correct}"> 
                            <div class="answer-label">
                                {{answer.answer}}
                            </div>
                            <div class="btn-check-cell">
                                <i ng-if="answer.correct" class="fa fa-check-square-o" aria-hidden="true"></i>
                                <i ng-if="!answer.correct" class="fa fa-square-o" aria-hidden="true"></i>
                                <span class='well-answer-title'>{{ans_label[answers.indexOf(answer)]}}</span>
                            </div>
                        </button>
                    </div>
                </fieldset>
            </form>
            <button class="btn" ng-click="previous_question()" ng-disabled="questions.indexOf(question) <= 0"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="hidden-xs">Question </span> précédente</button>
            <button ng-if="questions.indexOf(question) < 14" class="btn pull-right" ng-click="next_question()" ng-disabled="answer_not_given()"><span class="hidden-xs">Question </span> suivante <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
            {% endverbatim %}
            <button ng-if="questions.indexOf(question) == 14" class="btn pull-right" ng-click="next_question()" ng-disabled="answer_not_given()">Terminer !<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
        </div>
    </div>
    <div class="row">
        <aside class="hidden-md col-xs-12 hidden-lg test-main-col">
            {% include 'partials/nav_test_questions.html' %}
        </aside>
    </div>
</div>
{% endblock content %}


{% block scripts %}
{% include 'partials/testjs.html' %}
{% endblock %}

{% block onbodyload %}
{% endblock %}
