{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% load currency_filters %}
{% load i18n %}

{% block title %}Ajout carte de paiement{% endblock %}

{% block content %}
<div class="space"></div> <!-- 40px Vertical Spacing -->

<div class="row well">
    <div class="col-md-6 col-sm-12">
        <h2>Ajouter une carte de paiement</h2>
        <form class="form-horizontal" method="post" action="{{card.cardRegistrationURL}}">
            {{ cr_form | crispy }}
            <div class="control-group">
                <div class="controls">
                    <button type="submit" name='sub_newcard' class="btn">Valider</button>
                    <a href="{% url 'users:wallet' %}" class="btn">Annuler</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="space"></div> <!-- 40px Vertical Spacing -->

{% endblock %}
