{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<div class="col-sm-12">
  <h1>Gérer mon porte-monnaie</h1>
  <div class="space"></div> <!-- 40px Vertical Spacing -->
</div>

<div class="row">
  <div class="col-md-6 col-sm-12 well">
    <h2>Créditer mon compte</h2>
    <form class="form-horizontal" method="post" action="{% url 'users:wallet' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control-group">
          <div class="controls">
            <button type="submit" name='sub_credit' class="btn">Valider</button>
          </div>
        </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12 well">
  {% if no_card_registred %}
    <h2>Ajouter une carte de paiement</h2>
    <form class="form-horizontal" method="post" action="{{card.cardRegistrationURL}}">
	{{ cr_form | crispy }}
        <div class="control-group">
          <div class="controls">
            <button type="submit" name='sub_newcard' class="btn">Valider</button>
          </div>
        </div>
    </form>
  {% else%}
    <h2>Carte enregistrée</h2>
    <div class="col-md-4 col-sm-9 well">
	  <p><label>{% trans 'Numéro de carte' %} :</label> {{ card_registration.mangopay_card.alias }}</p>
	  <p><label>{% trans "Valide jusqu'au" %} :</label> {{ card_registration.mangopay_card.expiration_date }}</p>
	  <p><label>{% trans 'État' %} :</label> {{ card_registration.mangopay_card.validity }}</p>
    </div>
  {% endif %}
  </div>
</div>

{% endblock %}
