
{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% load currency_filters %}
{% load i18n %}

{% block title %}Cadeau D4 activé{% endblock %}

{% block content %}
<div class="space12"></div> <!-- 40px Vertical Spacing -->
<div class="col-md-6 col-sm-12">
    <div class="x_panel tile fixed_height_320">
        <div class="x_title">
            <h2><i class="fa fa-download"></i> D4 activé</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="dashboard-widget-content">
                <div class="panel-body">
                    <ul>
                        <li>{{ d4.username }} doit recevoir un email l'informant que c'est OK</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
