{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h1>Modifier mes informations</h1>
    <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">Valider</button>
          </div>
        </div>
    </form>
    {% comment multiple emails disabled %}
    <h1>Gestion des emails</h1>
    <a class="btn btn-primary" href="{% url 'account_email' %}">Ajouter ou supprimer une adresse email</a>
    <br>
    {% endcomment %}
  </div>
</div>
{% endblock %}
