{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 col-sm-12">
            {% if user.gave_all_mangopay_info %}
            <h1>Profil</h1>
            {% else %}
            <div class="text-center">
            <h1>Créer un compte gratuitement</h1>
                <a href="{% url 'faq' %}" target="blank"><span class="fa fa-cogs"></span> {% trans 'Comment ça marche ?' %}</a>
            </div>
            {% endif %}
            <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if user.gave_all_mangopay_info %}
                <div class="form-group">
                    <label class="control-label ">
                        Code Tutorat de Ville
                    </label>
                    <div class="controls ">
                        <input class="textinput textInput form-control" disabled> 
                    </div> 
                </div>
                <p class="help-block">Bientôt disponible</p>
                {% endif %}
                <div class="control-group">
                    <div class="controls text-center">
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
//on change hide all divs linked to select and show only linked to selected option
$('#id_degree').change(function(){
    if ( $(this).val() == 'MEDECIN' || $(this).val() == 'INTERNE'){
        $('#div_id_speciality').slideDown();
    }
    else{
        $('#div_id_speciality').slideUp();
    }
});
</script>
{% endblock %}

{% block onbodyload %}
{{ block.super }}
$('#div_id_speciality').addClass('collapse');

if ( $('#id_degree').val() == 'MEDECIN' || $('#id_degree').val() == 'INTERNE'){
$('#div_id_speciality').slideDown();
}
else{
$('#div_id_speciality').slideUp();
}
{% endblock %}
