{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load bbtricks %}

{% block title %}{% trans 'Mes amis' %}{% endblock %}

{% block styles %}
{{ block.super }}
{{ form.media.css }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row theader">
        <div class="col-md-6">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2><i class="fa fa-users"></i> Trouver des amis <small>pour partager nos fiches !</small></h2>
                    <div class="clearfix">
                        <img src="{% static 'images/cards/poker-playing-cards.svg' %}" style="width:20px;"/>
                    </div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">
                        <div class="space12"></div> <!-- 40px Vertical Spacing -->
                        <form class="form" name="{{ form.form_name }}" method="post">
                            {{ form | crispy }}
                            {% csrf_token %}
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-smile-o fa-lg" aria-hidden="true"></i> {% trans "Demander à être amis" %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% if user.nb_activ_friendship_offers %}
        <div class="col-md-6">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2><i class="fa fa-users"></i> Demandes d'amitié</h2>
                    <div class="clearfix"><span class="Counter">{{offers | length }}</span>
                    </div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">
						<div class="space12"></div> <!-- 40px Vertical Spacing -->
                        <ul class="list-unstyled msg_list">
                            {% for offer in offers %}
                            <li>
                                <div class="friends-profile"> 
                                    <span class="image">
                                        <img style="width: 50px;" src="{{offer.requester.socialaccount_set.first.get_avatar_url | default_icon }}" alt="avatar">
                                    </span>
                                    <span>
                                        <span>{{ offer.requester.username }}</span>
                                        <span class="time">{{ offer.create_timestamp | date:'d/m/y' }}</span>
                                    </span>
                                    <span class="message">
                                        {{ offer.requester.bio | default:"" | truncatechars:60}}
                                    </span>
                                </div>
                                <div class="friends-control"> 
                                    <a href="{% url 'friends:accept_friend' %}?pk={{offer.id}}" class="btn btn-success"><i class="fa fa-check fa-lg"></i></a> 
                                    <a href="{% url 'friends:refuse_friend' %}?pk={{offer.id}}" class="btn btn-danger"><i class="fa fa-times fa-lg"></i></a>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
						
					</div>
				</div>
            </div>
        </div>
        {% endif %}
        {% if user.friends.count %}
        <div class="col-md-12">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2><i class="fa fa-users"></i> Amis</h2>
                    <div class="clearfix">{{ user.friends.count }}
                    </div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">
						<div class="space12"></div> <!-- 40px Vertical Spacing -->
                        <ul class="list-unstyled msg_list">
                            {% for relation in user.get_relations %}
                            <li>
                                <div class="friends-profile"> 
                                    <span class="image">
                                        <img style="width: 50px;" src="{{relation.user.socialaccount_set.first.get_avatar_url | default_icon }}" alt="avatar">
                                    </span>
                                    <span>
                                        <span>{{ relation.user.username }}</span>
                                    </span>
                                    <span class="message">
                                        {% with total=relation.user.created_cards.count %}
                                        {{ total }} carte{{ total|pluralize }} crée{{ total|pluralize }}.<br>
                                        {% endwith %}
                                        {% with total=relation.user.nb_tests_done %}
                                        {{ total }} dossier{{ total|pluralize }} fait{{ total|pluralize }}.<br>
                                        {% endwith %}
                                    </span>
                                </div>
                                <div class="share_cards text-center">
                                    <label>Partage ses fiches :</label>{{ relation.share_cards |yesno:"Oui,Non" }}
                                </div>
                                <div class="share_cards text-center">
                                    <label>Partage ses résultats:</label>{{ relation.share_results |yesno:"Oui,Non" }}
                                </div>
                                <div class="share_cards text-center">
                                    <label>Partage fiches</label><input type="checkbox" name="share_cards"   data-size="mini" data-friend-id="{{relation.user.id}}"{% if relation.i_share_cards %} checked{% endif %}>
                                </div>
                                <div class="share_results text-center">
                                    <label>Partage résultats</label><input type="checkbox" name="share_results" data-size="mini" data-friend-id="{{relation.user.id}}"{% if relation.i_share_results %} checked{% endif %}>
                                </div>
                                <div class="friends-control"> 
                                    <a href="{% url 'friends:remove_friend' %}?pk={{friend.id}}" class="btn btn-danger"><i class="fa fa-times fa-lg"></i></a>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
						
					</div>
				</div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}

{% block scripts %}
{{ block.super }}
{{ form.media.js }}
{{ block.super }}
{% endblock %}


{% block extrastyles %}
{{ block.super }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" />
{% endblock %}

{% block onbodyload %}
$('.django-select2').djangoSelect2({placeholder: 'Nom, prénom, pseudo ou email...'});
var toggle_share_cards = function(event, state) {
    $.ajax({
        url: "{% url 'friends:share_cards' %}?friend_id=" + this.dataset.friendId + "&state=" + state,
    });
};
var toggle_share_results = function(event, state) {
    $.ajax({
        url: "{% url 'friends:share_results' %}?friend_id=" + this.dataset.friendId + "&state=" + state,
    });
}
$("[name='share_cards']").bootstrapSwitch('onText', 'Oui');
$("[name='share_cards']").bootstrapSwitch('offText', 'Non');
$("[name='share_results']").bootstrapSwitch('onText', 'Oui');
$("[name='share_results']").bootstrapSwitch('offText', 'Non');
$('input[name="share_cards"]').on('switchChange.bootstrapSwitch', toggle_share_cards)
$('input[name="share_results"]').on('switchChange.bootstrapSwitch', toggle_share_results)

{% endblock %}

{% block cdn_scripts %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script>
{% endblock %}

