{% extends 'oscar/checkout/preview.html' %}
{% load currency_filters %}
{% load thumbnail %}
{% load purchase_info_tags %}
{% load i18n %}

{% block shipping_address %}
{% endblock shipping_address %}

{% block checkout_title %}
    {% trans "Paiement abonnement" %}
{% endblock %}

{% block payment_method %}
<div class="span6">
	<div class="sub-header">
		<h2>{% trans 'Payment' %}</h2>
	</div>
	<div class="well well-success">
		<p>{{ order_total.incl_tax|currency }} {% trans 'seront débités sur votre carte.'%}</p>
	</div>
</div>
{% endblock %}

{% block place_order %}
<form method="post" action="{% url 'checkout:preview' %}">
	{% csrf_token %}

	<div style="display:none">
		<input type="hidden" name="action" value="place_order" />
		{{ stripe_token_form.as_p }}
	</div>

    <div class="form-actions">
        <button id='place-order' type="submit" value="Place order" class="pull-right btn btn-primary btn-large js-disable-on-click">{% trans 'Commander' %}</button>
    </div>
</form>
{% endblock place_order %}

{% block order_contents %}
    <div class="sub-header">
	{% block order_contents_actions %}
	    <a href="{% url 'basket:summary' %}" class="pull-right">
		{% trans "Changer d'abonnement" %}
	    </a>
	{% endblock %}

	<h2>{% trans "Order contents" %}</h2>
    </div>
    <div class="basket-title">
	<div class="row">
	    <p class="col-sm-9 h4">{% trans "Item" %}</p>
	    <p class="col-sm-1 h4 align-center">{% trans "Quantity" %}</p>
	    <p class="col-sm-2 h4 align-right">{% trans "Total" %}</p>
	</div>
    </div>
    {% for line in basket.all_lines %}
	{% purchase_info_for_line request line as session %}
	<div class="basket-items">
	    <div class="row">
		<div class="col-sm-2">
		    <div class="image_container">
		    </div>
		</div>
		<div class="col-sm-7">
		    <h3>{{ line.description }}</h3>
		</div>
		<div class="col-sm-1 align-center">
		    {{ line.quantity }}
		</div>
		<div class="col-sm-2 align-right">
		    <p class="price_color">
			{% if not show_tax_separately and line.is_tax_known %}
			    {{ line.line_price_incl_tax|currency:basket.currency }}
			{% else %}
			    {{ line.line_price_excl_tax|currency:basket.currency }}
			{% endif %}
		    </p>
		</div>
	    </div>
	</div>
    {% endfor %}

    <div class="row">
	<div class="col-sm-6">&nbsp;</div>
	<div class="col-sm-6">
	    <div class="sub-header">
		<h2>{% trans 'Totals' %}</h2>
	    </div>
	    {% include 'basket/partials/basket_totals.html' %}
	</div>
    </div>

{% endblock order_contents %}

{% block shipping_method %}
{% endblock shipping_method %}

{% block payment_details %}
{% endblock payment_details %}


{% block footer %}
{% endblock footer %}
