{% load basket_tags %}
{% load i18n %}
{% load purchase_info_tags %}
{% load bbtricks %}


{% purchase_info_for_product request product as session %}

{% if product.conf and user|already_done:product.conf and not user|test_finished:product.conf %}
<form action="{% url 'basket:add' pk=product.pk %}" method="post">
    {% csrf_token %}
    <input id="id_quantity" name="quantity" type="hidden" value="1">
    <button type="submit" data-loading-text="{% trans 'Démarrage...' %}" class="btn btn-gray btn-go">
        <i class="fa fa-repeat" aria-hidden="true"></i>
        {% trans "Reprendre" %}</button>
</form>
{% elif product.conf and user|already_done:product.conf and user|test_finished:product.conf %}
{% with test=user|get_test:product.conf %}
<form action="{% url 'basket:add' pk=product.pk %}" method="post">
    {% csrf_token %}
    <input id="id_quantity" name="quantity" type="hidden" value="1">
    <button type="submit" data-loading-text="{% trans 'Démarrage...' %}" class="btn btn-gray btn-go">
        Résultat : {{ test.score }} / 100
        <div class="progress-bar-container"><div style="width: {{ test.score | stringformat:'d' }}%; background-color: rgb({% widthratio test.red_score 100 255 %}, {% widthratio test.green_score 100 255 %}, 0);" class="progress-bar"></div></div>
    </button>
</form>
{% endwith %}
{% elif session.availability.is_available_to_buy %}
<a href="{{ product.get_absolute_url }}" class="btn"><i class="fa fa-plus" aria-hidden="true"></i> {% trans "Plus d'infos..." %}</a>
{% else %}
<span class="btn btn-default disabled">{% trans "Bientôt disponible !" %}</span>
{% endif %}


