{% load bbtricks %}

<article class="product_pod post-module">
    <div class="prod-bg lecture_critique_d_articles">
  </div>
    <a href="{% url 'confs:create' %}" title="Accéder au détail">
        <h3>Dossier de {{ user.username }}... et pourquoi pas ?</h3>
        
        <div class="image_container">
            <img style="width:150px;height:150px;border-radius:50%; margin-top:20px;" src="{{user.socialaccount_set.first.get_avatar_url | default_icon }}"/>
        </div>
    </a>
    <div class="product_price">
        <p class="price_color"></p>
<a href="{% url 'confs:create' %}" class="btn btn-gray btn-go"><i class="fa fa-plus" aria-hidden="true"></i> Créer un dossier</a>




        
    </div>
    
</article>
