{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}

{% block product %}
<article class="product_pod ">
  <div class="prod-bg {{ product.conf.spe_css }}">
  </div>
    <a href="{{ product.get_absolute_url }}" title="{% trans "Accéder au détail" %}">
        {% block product_title %}
        <h3>{{ product.get_title | safe }}</h3>
        {% endblock %}
        {% block product_image %}
        {% if product.conf %}
        <div class="image_container">
            {{ product.conf.summary }}
        </div>
        {% else %}
        <div class="image_container">
            {% with image=product.primary_image %}
            {% thumbnail image.original "x155" upscale=False as thumb %}
            <a href="{{ product.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="thumbnail"></a>
            {% endthumbnail %}
            {% endwith %}
        </div>
        {% endif %}
        {% endblock %}
        {% if product.conf.done_tests and product.conf.done_tests.0.finished %}
        {{ product.conf.done_tests.0.score }} / 100
        <div class="progress-bar-container"><div style="width: {{ product.conf.done_tests.0.score | stringformat:'d' }}%; background-color: rgb({% widthratio product.conf.done_tests.0.red_score 100 255 %}, {% widthratio product.conf.done_tests.0.green_score 100 255 %}, 0);" class="progress-bar"></div></div>
        {% endif %}
        {% block product_review %}
        {% iffeature "reviews" %}
        {% if not product.conf.done_tests.0.finished %}
        <p class="star-rating {{ product.rating|as_stars }}">
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        </p>
        {% endif %}
        {% endiffeature %}
        {% endblock %}

    </a>

    {% block product_price %}
    <div class="product_price">
        {% if not product.conf.done_tests %}
        {% include "catalogue/partials/stock_record.html" %}
        {% endif %}
        {% if product.conf.done_tests and not product.conf.done_tests.0.finished %}
        {% include "confs/partials/go_button.html" %}
        {% elif not product.is_parent %}
        {% include "catalogue/partials/add_to_basket_form_compact.html" %}
        {% endif %}
    </div>
    {% endblock %}
</article>
{% endblock %}

