{% load social_share %}

{% post_to_facebook product '<span class="btn btn-share"><i class="fa fa-facebook"></i> Like</span>' %}
{% post_to_gplus product '<span class="btn btn-share btn-gplus"><i class="fa fa-google-plus"></i></span>' %}
{% if product.conf.owner == user %}
{% post_to_twitter "J'ai créé un dossier ECNi sur BlouseBrothers. Rejoignez nous !" product '<span class="btn btn-share btn-twitter"><i class="fa fa-twitter"></i> #killtheconf</span>' %}
{% else %}
{% post_to_twitter "Je viens de terminer un dossier sur BlouseBrothers. #killtheconf" product '<span class="btn btn-share btn-twitter"><i class="fa fa-twitter"></i> #killtheconf</span>' %}
{% endif %}
