{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block connect_link %}
<li class="menu-item-has-children item-megamenu"><a id="login_link" href="/"><i class="icon-signin"></i> {% trans "Inscription" %}</a></li>
{% endblock %}

{% block content %}
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>{% trans "Connexion" %}</h2>
    </div>
    <div class="col-md-6 text-right border-right-solid con-page">
      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}
      <h3>Via le réseau social de ton choix</h3>

      <div class="socialaccount_ballot">

        <ul class="socialaccount_providers">
          {% include "partials/social_connect.html" with process="login" %}
        </ul>

      </div>

      {% include "socialaccount/snippets/login_extra.html" %}

      {% endif %}

    </div>
    <div class="col-md-6 con-page">
      <h3>Via ton compte <span class="blouse-font"> BlouseBrothers</span></h3>

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button id="sign-in-button" class="btn btn-primary" type="submit">{% trans "Log In" %}</button>
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}

