{% extends "account/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block main_header %}
{% endblock main_header %}
{% block header %}
{% endblock header %}

{% block content_wrapper %}

<div class="signup">
<div class="password slide1 slide container">
      <div class="row">
	<div class="col-lg-6 col-md-6 col-sd-12">      
	  <div class="tester">Tester BlouseBrothers</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sd-12 button_account">      
	  <a href="{% url 'account_signup' %}" class="btn">Je n'ai pas encore de comtpe, m'inscrire</a>
	</div>
      </div>
      <div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
	  <div class="tcenter">
	    <img src="{% static "images/logo.png" %}"class="logo"><br>
	    <h1>BlouseBrothers</h1>
	    <h2>Plateforme ECNi collaborative</h2>
	  </div>
	  <br>
	  <form method="POST" action="./" class="password_reset">
	      {% csrf_token %}
	      {{ form.email.errors }}
	      {{ form.email }}
	      <button class="btn" type="submit">{% trans "Reset My Password" %}</button>
	  </form>
	  <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
	</div>
	<div class="col-md-4"></div>
      </div>
    </div> <!-- end slide1 -->    
</div><!-- signup -->


{% endblock content_wrapper %}


{% block onbodyload %}

$( document ).ready(function() {

    if ($(window).width() > 767){
	$('.slide').height($(window).height());
    }
});


function move_value(scrolled, start, end, value_start, value_end){
    if (scrolled < start)
	return value_start;
    else if (scrolled > end)
	return value_end;

    end = end-start;
    scrolled = scrolled-start;
    start = 0;
    if (value_end < value_start){ // on descend
	return ((1-scrolled/end) * (value_start - value_end));
    }
    else{
	return ((scrolled/end) * (value_end - value_start));
    }
}

function alertModal(msg){
    $('#myModal .modal-body p').html(msg);
    $("#myModal").modal('show');

}

{% endblock %}
