{% extends "account/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block main_header %}
{% endblock main_header %}
{% block header %}
{% endblock header %}

{% block extra_slide_class %}password {% endblock%}

{% block content %}
	  <form method="POST" action="./" class="password_reset">
	      {% csrf_token %}
	      {{ form.email.errors }}
	      {{ form.email }}
	      <button class="btn" type="submit">{% trans "Reset My Password" %}</button>
	  </form>
	  <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
	</div>
{% endblock content %}
