{% extends "layout.html" %}

{% load account %}
{% load socialaccount %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block main_header %}
{% endblock main_header %}
{% block header %}
{% endblock header %}
{% block main_container_class %}<div class="container_fluid parallax">{% endblock %}

{% block title %}{% trans "Signup" %}{% endblock title %}

{% block content %}

<style>
label {display: none;}
</style>

<div class="row top-header main-title">
	<div class='col-md-4 hidden-sm hidden-xs logobanner'><img src="/static/images/logobanner.png" alt="" height="90px"></div>
	<div class="col-md-4 text-center hidden-sm hidden-xs">Prépa ECNi<em> collaborative</em></span></div>
	<div class="col-md-4 text-right small"><a href="{% url 'account_login' %}" class="btn btn-primary"><strong>J'ai déjà un compte, me connecter</strong></a> </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 well main-page">
      <div class="socialaccount_ballot text-center">
	      <p><strong>{% trans "Inscription" %}</strong></p>
      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}
      <p>Via le réseau social de ton choix</p>
	<ul class="socialaccount_providers text-center">
	  {% include "partials/social_connect.html" with process="login" %}
	</ul>

      <p>Ou en créant ton compte ici</p>

      </div>

      {% include "socialaccount/snippets/login_extra.html" %}

      {% endif %}
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button id="sign-up-button" class="btn btn-primary btn-signup" type="submit">Création de compte »</button>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>


{% endblock content %}



