{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block main_header %}
{% endblock main_header %}
{% block header %}
{% endblock header %}

{% block main_container_class %}{% endblock %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block extra_slide_class %}signin {% endblock%}

{% block up_right_button %}
<a href="{% url 'account_login' %}" class="btn">J'ai déjà un compte</a>
{% endblock %}

{% block content %}
                      <form action="{% url 'home' %}" id="signup_form" method="post">
                          {{ form.non_field_errors }}
                          {% csrf_token %}
                          {{ form.email.errors }}
                          {{ form.email }}
                          {{ form.username.errors }}
                          {{ form.username }}
                          {{ form.password1.errors }}
                          {{ form.password1 }}
                          {{ form.password2.errors }}
                          {{ form.password2 }}
                          <button class="btn">Créer mon compte</button>
                          <br><br>
                          {% get_providers as socialaccount_providers %}
                          {% if socialaccount_providers %}
                          {% include "partials/social_connect.html" with process="login" %}
                          {% include "socialaccount/snippets/login_extra.html" %}
                          {% endif %}
                          <br><br>
                      </form>                  
{% endblock content%}
