{% load djng_tags %}
<script type="text/javascript">
var STATIC_URL = '{{ STATIC_URL|escapejs }}';
var MEDIA_URL  = '{{ MEDIA_URL|escapejs }}';

function static(path) {
    return STATIC_URL + path;
}
function static_media(path) {
    return MEDIA_URL + path;
}
var conf_app = angular.module('djangular-bb', ['textAngular', 'toaster', 'ngAnimate', 'djng.rmi', 'ngResource',
		'djng.forms', 'ngFileUpload']);
{% if object %}
var slug="{{ object.slug }}"
{% else %}
var slug=""
{% endif %}

conf_app.factory('Question', ['$resource', function($resource) {
	return $resource('{% url 'confs:question_crud_view' %}', {'pk': '@pk'}, {
		        });
}]);
conf_app.factory('QuestionImage', ['$resource', function($resource) {
	return $resource('{% url 'confs:questionimage_crud_view' %}', {'pk': '@pk'}, {
		        });
}]);
conf_app.factory('Conference', ['$resource', function($resource) {
	return $resource('{% url 'confs:conference_crud_view' %}', {'pk': '@pk'}, {
		        });
}]);
conf_app.factory('ConferenceImage', ['$resource', function($resource) {
	return $resource('{% url 'confs:conferenceimage_crud_view' %}', {'pk': '@pk'}, {
		        });
}]);
conf_app.factory('Answer', ['$resource', function($resource) {
	return $resource('{% url 'confs:answer_crud_view' %}', {'pk': '@pk'}, {
		        });
}]);
conf_app.config(function($httpProvider) {
	    $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
	    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
	    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
});
var tags = {% djng_current_rmi %};
conf_app.config(function(djangoRMIProvider) {
    djangoRMIProvider.configure(tags);
});


conf_app.controller("ConfFormCtrl", function(textAngularManager, toaster, $scope, $timeout, $window, djangoRMI,
			Conference, ConferenceImage, Question, QuestionImage, Answer, Upload) {
    $scope.ans_label = ["A", "B", "C", "D", "E"];
    $scope.conferenceimages = [];
    $scope.questionimages = [];
    $scope.static_media = static_media;
    $scope.kwords = [];
    var setQuestionImages = function(question) {
	if (question != null){
		QuestionImage.query({question_id: question.pk}).$promise
		.then(function(result){
			$scope.questionimages = result;
		});
	}
    };
    var setConferenceImage = function() {
	ConferenceImage.query({conf: $scope.conference.pk}).$promise
	.then(function(result){
		$scope.conferenceimages= result;
	})
    };
    var setKeyWords = function(){
	djangoRMI.get_keywords($scope.conference)
		.success(function(out_data) {
			console.log(out_data)
			$scope.kwords = out_data;
		});
    }
    var setAnswers = function(question) {
	if (question != null){
		Answer.query({question: question.pk}).$promise
		.then(function(result){
			$scope.answers = result;
			$scope.answers.length = 5;
		});
	}
    };
    $scope.question_selected = function(question){
	saveUpdates();
    	$scope.question = question;
    	setAnswers(question);
	setQuestionImages(question);
    }
    $scope.deleteimg = function(image, from){
	if ($window.confirm("Supprimer l'image ?")) {
	  image.$remove();
	  from.splice(from.indexOf(image), 1);
	}
    }
    $scope.deleteansimg = function(answer){
	    djangoRMI.delete_anwser_explaination_image(answer);
	    answer.explaination_image = "";
    }
    $scope.uploadFiles = function(file, errFiles, type) {
        $scope.f = file;
        $scope.errFile = errFiles && errFiles[0];
        if (file) {
	    var url = '';
	    if ( type == 'question')
		url ='/sweethomechicago/question/upload_image/' + $scope.question.pk 
	    if ( type == 'conf')
		url ='/sweethomechicago/conference/upload_image/' + $scope.conference.pk 
	    else
		url ='/sweethomechicago/answer/upload_image/' + type.pk 
            file.upload = Upload.upload({
		url: url,
                data: {file: file}
            });

            file.upload.then(function (response) {
                $timeout(function () {
                    file.result = response.data;
		    if ( type == 'question')
			setQuestionImages($scope.question);
		    else if ( type == 'conf')
			setConferenceImage();
		    else
			setAnswers($scope.question);
                });
            }, function (response) {
                if (response.status > 0)
                    $scope.errorMsg = response.status + ': ' + response.data;
            }, function (evt) {
                file.progress = Math.min(100, parseInt(100.0 * 
                                         evt.loaded / evt.total));
            });
        }   
    }
    // START AUTO SAVE
    var timeout = null;
    var saveUpdates = function() {
      // .... save data to server
      djangoRMI.sync_data([$scope.conference, $scope.question, $scope.answers, $scope.conferenceimages])
	 .success(function(out_data) {
	     $scope.total_q = out_data['total_q'];
	     $scope.written_q = out_data['written_q'];
	     $scope.valid_q = out_data['valid_q'];
	     $scope.progress = out_data['progress'];
  	     toaster.pop('success', "Sauvegarde auto OK", "");
	     {% if user.is_superuser %}
	     setKeyWords();
	     {% endif %}

	 })
	 .error(function(out_data){
  	     toaster.pop('erreur', "Echec de sauvegarde", "Nouvelle tentative dans quelques secondes...");
	     timeout = $timeout(saveUpdates, 5000);  // 1000 = 1 second
	 });
    };
    var debounceSaveUpdates = function(newVal, oldVal) {
      if (newVal != oldVal) {
        if (timeout) {
          $timeout.cancel(timeout);
        }
        timeout = $timeout(saveUpdates, 1000);  // 1000 = 1 second
      }
    };
    $scope.$watch('conference', debounceSaveUpdates, true)
    $scope.$watch('question.question', debounceSaveUpdates)
    $scope.$watch('question.coefficient', debounceSaveUpdates)
    $scope.$watch('answers', debounceSaveUpdates, true)
    $scope.$watch('conferenceimages', debounceSaveUpdates, true)
    // END AUTO SAVE

    $scope.init_model = function () {
	$scope.questions = [];
	$scope.answers = [];
	$scope.conferenceimages = [];
	$scope.question = null;
	if (slug != ""){
		Conference.get({slug: slug}).$promise
    		.then(function(result){
    			$scope.conference = result;
			Question.query({conf: $scope.conference.pk}).$promise
    			.then(function(result){
				$scope.questions = result;
				$scope.question = $scope.questions[0];
    				setAnswers($scope.question);
				setQuestionImages($scope.question);
    			})
			setConferenceImage();
			{% if user.is_superuser %}
			setKeyWords();
			{% endif %}
    		})
	}
	else{
		$scope.showsubject = true;
	}
    }
    // init model on load
    $scope.init_model();
});

</script>
