{% load djng_tags %}
<script type="text/javascript">
var STATIC_URL = '{{ STATIC_URL|escapejs }}';
var MEDIA_URL  = '{{ MEDIA_URL|escapejs }}';

function static(path) {
    return STATIC_URL + path;
}
function static_media(path) {
    return MEDIA_URL + path;
}
var conf_app = angular.module('djangular-bb', ['toaster', 'ngAnimate', 'djng.rmi', 'ngResource', 'djng.forms']);
{% if object %}
var slug="{{ object.slug }}"
{% else %}
var slug=""
{% endif %}

conf_app.factory('Question', ['$resource', function($resource) {
	return $resource('{% url 'confs:question_crud_view' %}', {'pk': '@pk'}, {
		        });
}]);
conf_app.factory('Conference', ['$resource', function($resource) {
	return $resource('{% url 'confs:conference_crud_view' %}', {'pk': '@pk'}, {
		        });
}]);
conf_app.factory('ConferenceImage', ['$resource', function($resource) {
	return $resource('{% url 'confs:conferenceimage_crud_view' %}', {'pk': '@pk'}, {
		        });
}]);
conf_app.factory('Answer', ['$resource', function($resource) {
	return $resource('{% url 'confs:answer_crud_view' %}', {'pk': '@pk'}, {
		        });
}]);
conf_app.config(function($httpProvider) {
	    $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
	    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
	    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
});
var tags = {% djng_current_rmi %};
conf_app.config(function(djangoRMIProvider) {
    djangoRMIProvider.configure(tags);
});

conf_app.controller('ConfFormCtrl', function($scope, $http, $window, djangoForm) {
    $scope.submit = function() {
	if ($scope.conf_data) {
		$http.post(".", $scope.conf_data).success(function(out_data) {
			if (!djangoForm.setErrors($scope.conf_form, out_data.errors)) {
				// on successful post, redirect onto success page
				$window.location.href = out_data.success_url;
			}
		}).error(function() {
		console.error('An error occured during submission');
		});
	}
	return false;
    }
});

conf_app.controller("ConfFormCtrl", function(toaster, $scope, $timeout, $window, djangoRMI, Conference, ConferenceImage, Question, Answer) {
    $scope.ans_label = ["A", "B", "C", "D", "E"];
    $scope.conferenceimages = [];
    $scope.static_media = static_media;
    var setAnswers = function(question) {
	if (question != null){
		Answer.query({question: question.pk}).$promise
		.then(function(result){
			$scope.answers = result;
			$scope.answers.length = 5;
		})
	}
    };
    $scope.question_selected = function(question){
	saveUpdates();
    	$scope.question = question;
    	setAnswers(question);
    }
    $scope.deleteimg = function(image){
	if ($window.confirm("Supprimer l'image ?")) {
	  image.$delete();
	  $scope.conferenceimages.splice($scope.conferenceimages.indexOf(image), 1);
	}
    }

    // START AUTO SAVE
    var timeout = null;
    var saveUpdates = function() {
      // .... save data to server
      djangoRMI.sync_data([$scope.conference, $scope.question, $scope.answers, $scope.conferenceimages])
	 .success(function(out_data) {
	     $scope.total_q = out_data['total_q'];
	     $scope.written_q = out_data['written_q'];
	     $scope.valid_q = out_data['valid_q'];
	     $scope.progress = out_data['progress'];
  	     toaster.pop('success', "Sauvegarde auto OK", "");

	 })
	 .error(function(out_data){
  	     toaster.pop('erreur', "Echec de sauvegarde", "Nouvelle tentative dans quelques secondes...");
	     timeout = $timeout(saveUpdates, 5000);  // 1000 = 1 second
	 });
    };
    var debounceSaveUpdates = function(newVal, oldVal) {
      if (newVal != oldVal) {
        if (timeout) {
          $timeout.cancel(timeout);
        }
        timeout = $timeout(saveUpdates, 1000);  // 1000 = 1 second
      }
    };
    $scope.$watch('conference', debounceSaveUpdates, true)
    $scope.$watch('question.question', debounceSaveUpdates)
    $scope.$watch('question.coefficient', debounceSaveUpdates)
    $scope.$watch('answers', debounceSaveUpdates, true)
    $scope.$watch('conferenceimages', debounceSaveUpdates, true)
    // END AUTO SAVE

    $scope.init_model = function () {
	$scope.questions = [];
	$scope.answers = [];
	$scope.conferenceimages = [];
	$scope.question = null;
	if (slug != ""){
		Conference.get({slug: slug}).$promise
    		.then(function(result){
    			$scope.conference = result;
			Question.query({conf: $scope.conference.pk}).$promise
    			.then(function(result){
				$scope.questions = result;
				$scope.question = $scope.questions[0];
    				setAnswers($scope.question);
    			})
			ConferenceImage.query({conf: $scope.conference.pk}).$promise
    			.then(function(result){
				$scope.conferenceimages= result;
    			})
    		})
	}
	else{
		$scope.showsubject = true;
	}
    }
    // init model on load
    $scope.init_model();

});

</script>
