{% load i18n %}
<footer class="footer">
    {% block footer %}
		<div class="footer-top">
			<div class="container">
				<div class="row flex-flow">
					<div class="col-sm-12 col-md-4 footer-sidebar">
						<div class="widget contact-info">
							<span class="text-primary PlayfairDisplay">Si tu as quelque chose sur le coeur, il faut nous en parler</span>
							<h3 class="widget-title">Contacte nous</h3>
							<div class="content">
								<p class="address">BlouseBrothers. DOWST SAS au capital de 2000€, 7 Rue Abel Monnot 25000 Besançon</p>
								<p class="phone"><i class="fa fa-phone"></i> (+33) 0000 0000</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-4 footer-sidebar">
						<div class="widget our-service">
							<span class="text-primary PlayfairDisplay">Quelques infos supplémentaires?</span>
							<h3 class="widget-title">Le projet BlouseBrothers</h3>
							<div class="content">
								<ul>
									<li>Anamnèse</li>
									<li><a href="#">Conditions Générales d'Utilisation</a></li>
									<li><a href="#">Returns</a></li>
									<li><a href="#">Directeur de la publication: Julien Almarcha</a></li>
									<li><a href="#">Site hébergé par: raison sociale, adresse, tel</a></li>
									<li><a href="#">Numéro CNIL: </a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-4 footer-sidebar">
						<div class="widget widget_social">
							<span class="text-primary PlayfairDisplay">Talk to Us Now !</span>
							<h3 class="widget-title">FOLLOW US</h3>
							<div class="content">
								<div class="social">
			                        <a href="#"><i class="fa fa-facebook"></i></a>
			                        <a href="#"><i class="fa fa-twitter"></i></a>
			                    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
<div>BlouseBrothers, 2016&copy;</a></div>
    {% endblock %}
</footer>
