{% load i18n %}
<footer>
    <div class="content row">
      <div class="col-sm-6 col-md-2 text-center">
		<a href="/cgu/">CGU - CGV</a>
		<a href="/cgu/mangopay/">CGU MANGOPAY</a>
	  </div>

      <div class="col-sm-6 col-md-2 text-center">
		<a href="mailto:contact@blousebrothers.fr">contact@blousebrothers.fr</a>
	  </div>

      <div class="col-sm-6 col-md-2 text-center">
		<a href="tel:+33339250264"><i class="fa fa-phone"></i> 03 39 25 02 64</a>
	  </div>

      <div class="col-sm-6 col-md-2 text-center">
          <a href="{% url 'users:faq' %}">FAQ</a>
	  </div>

      <div class="col-sm-6 col-md-2 text-center">
		<a href="/mentionslegales/">Mentions Légales</a>
	  </div>

      <div class="col-sm-6 col-md-2 text-center">
		<a href="https://www.facebook.com/iBlouseBrothers"><i class="fa fa-facebook"></i></a>
		<a href="https://twitter.com/iBlouseBrothers"><i class="fa fa-twitter"></i></a>
	  </div>

      <div class="col-sm-12 text-center">
      ©2017 <span class="blouse-font">BlouseBrothers</span> - Fosfen SAS
	  </div>
    </div>
</footer>
{% comment %}
<footer class="footer">
    {% block footer %}
		<div class="footer-top">
			<div class="container">
				<div class="row flex-flow">
					<div class="col-sm-12 col-md-4 footer-sidebar">
						<div class="widget contact-info">
							<span class="text-primary PlayfairDisplay"></span>
							<h3 class="widget-title">Contact</h3>
							<div class="content">
								<p class="address"><a href="mailto:contact@blousebrothers.fr"><i class="fa fa-envelope"></i> contact@blousebrothers.fr</a></p>
								<p class="phone"><a href="tel:+33339250264"><i class="fa fa-phone"></i> 03 39 25 02 64</a></p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-4 footer-sidebar">
						<div class="widget our-service">
							<span class="text-primary PlayfairDisplay"></span>
							<h3 class="widget-title">Le projet BlouseBrothers</h3>
							<div class="content">
								<ul>
									<li><a href="/FAQ/">FAQ et Comment ça marche</a></li>
									<li><a href="/cgu/">Conditions Générales d'Utilisation</a></li>
									<li><a href="/mentionslegales/">Mentions Légales</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-4 footer-sidebar">
						<div class="widget widget_social">
							<span class="text-primary PlayfairDisplay"></span>
							<h3 class="widget-title">Suivez nous!</h3>
							<div class="content">
								<div class="social">
			                        <a href="https://www.facebook.com/iBlouseBrothers"><i class="fa fa-facebook"></i></a>
			                        <a href="https://twitter.com/iBlouseBrothers"><i class="fa fa-twitter"></i></a>
			                    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div><span class="slogan">BlouseBrothers</span>, 2016&copy;</a></div>
    {% endblock %}
</footer>
{% endcomment %}
<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
  window.$zopim||(function(d,s){var z=$zopim=function(c){
  z._.push(c)},$=z.s=
  d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
  _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
  $.src='https://v2.zopim.com/?4s1gYIIUakEzdieP4NWMyFTWUdtgsVBV';z.t=+new Date;$.
  type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zendesk Chat Script-->
