{% load i18n %}
<footer>
    <div class="content row">
      <div class="col-sm-6 col-md-2 text-center">
		<a href="/cgu/">CGU - CGV</a>
		<a href="/cgu/mangopay/">CGU MANGOPAY</a>
	  </div>

      <div class="col-sm-6 col-md-2 text-center">
		<a href="mailto:contact@blousebrothers.fr">contact@blousebrothers.fr</a>
	  </div>

      <div class="col-sm-6 col-md-2 text-center">
		<a href="tel:+33339250264"><i class="fa fa-phone"></i> 03 39 25 02 64</a>
	  </div>

      <div class="col-sm-6 col-md-2 text-center">
          <a href="{% url 'users:faq' %}">FAQ</a>
	  </div>

      <div class="col-sm-6 col-md-2 text-center">
		<a href="/mentionslegales/">Mentions Légales</a>
	  </div>

      <div class="col-sm-6 col-md-2 text-center">
		<a href="https://www.facebook.com/iBlouseBrothers"><i class="fa fa-facebook"></i></a>
		<a href="https://twitter.com/iBlouseBrothers"><i class="fa fa-twitter"></i></a>
	  </div>

      <div class="col-sm-12 text-center">
      ©2017 <span class="blouse-font">BlouseBrothers</span> - Fosfen SAS
	  </div>
    </div>
</footer>
<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
  window.$zopim||(function(d,s){var z=$zopim=function(c){
  z._.push(c)},$=z.s=
  d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
  _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
  $.src='https://v2.zopim.com/?4s1gYIIUakEzdieP4NWMyFTWUdtgsVBV';z.t=+new Date;$.
  type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zendesk Chat Script-->
