{% verbatim %}
<div class="bb-card-2 bb-margin">
<header class="tips bb-container bb-light-grey">
Questions
</header>
<ul class="bb-ul">
	<li ng-repeat="x in questions" class="{{ x.pk == question.pk ? 'active' : ''}}" ng-show="show_question_in_menu(x)">
		<a href ng-click="question_selected(x)">
			<i class="fa fa-{{ x.answered ? 'check-circle-o' : 'question-circle'}}  fa-fw"></i>
			{{ $index + 1 }} : {{x.question || 'à compléter' | limitTo: 20}} ...
		</a>
	</li>
</ul>
<div class="tips tips-bottom bb-container bb-light-grey">
</div>
</div>
{% endverbatim %}
