{% verbatim %}
<div ng-app="myShoppingList" class="bb-card-2 bb-margin">
<header class="tips bb-container bb-light-grey bb-padding-16">
<h3>Questions</h3>
<div ng-if="!question">
	<p>Commencez à ajouter des questions :</p>
</div> 
</header>
<ul class="bb-ul">
	<li ng-repeat="x in questions" class="bb-padding-16"><a href ng-click="question_selected(x)"><i class="fa fa-{{ valid_q.indexOf(x.pk) !== -1 ? 'check' : 'exclamation-triangle'}}  fa-fw"></i>{{ $index + 1 }} : {{x.question | limitTo: 20}} ...</a></li>
</ul>
<div class="bb-container bb-light-grey bb-padding-16">
<div class="row bb-margin-top"></div>
<p class="bb-padding-left bb-text-red">{{errortext}}</p>
<i class="fa fa-exclamation-triangle fa-fw"></i> = question à compléter
</div>
</div>
{% endverbatim %}
