{% load i18n %}
{% load crispy_forms_tags %}
{% url action as actionurl %}
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <form method="get" action="{{ actionurl }}">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control"  id="id_search" name="search" placeholder="Rechercher" value="{{request.GET.search}}">
                        <span class="input-group-addon">
                            <button type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>  
                        </span>
                    </div>
                    <div class="pull-right" style="padding-top: 10px; padding-right:20px;">
                    <a class="accordion-toggle card_filter {% if not filter_visible %} collapsed{% endif %}" data-toggle="collapse" href="#collapseOne" style="color:#555;">Filtres avancés <i class="fa fa-chevron-right"></i></a>
                    </div>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse{% if filter_visible %} in{% endif %}">
                <div class="panel-body" style="border:0; margin-top:10px;">
                    <div class="row">
                        <div class="form-group">
                            {{ form | crispy }}
                        </div>
                        <input type="submit" value="{% trans "Filtrer" %}" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
