{% load i18n %}
{% url action as actionurl %}
<div class="submenu">
	<form method="get" action="{{ actionurl }}" class="box-search pull-left">
  	<div class="inner">
  		{{ search_form.q }}
  		<button class="button-search" type="submit"><span class="pe-7s-search"></span></button>
  	</div>
  </form>
  {% block sub_menu_search %}
  {% if not hide_search %}
  <a class="btn btn-success btn-create-conf pull-right" href="{% url 'confs:create' %}"><strong><span class="fa fa-plus"></span> {% trans 'Créer une conf' %}</strong></a>
  {% endif %}
  {% endblock %}
</div>
