{% load purchase_info_tags %}
{% load currency_filters %}
{% load bbtricks %}
{% load tinycontent_tags %}


<section id="pricing">

    <div class="space"></div> <!-- 40px Vertical Spacing -->
    <div class="title">
        <h3 id="subscriptions">Abonnements</h3>
    </div>
    <div class="space"></div> <!-- 40px Vertical Spacing -->

    <div class="container"> <!-- Container -->
        <div class="row">

        <div class="col-md-6 col-sm-12">
	    {% for sub in subscriptions %}
            <div class="col-sm-12">
              <div class="p-style1">
                <div class="package">
		  <h4>{{ sub.title }}</h4>
		  {% purchase_info_for_product request sub as session %}
		  <h6>{{ session.price.incl_tax | currency:session.price.currency }} pour {{ sub.attr.month }} mois</h6> 
                </div>
                <ul class="inclusion">
		  {{ sub.description | sub_desc_custo | safe }}
          <li><a href="{% url 'users:subscription' sub.id %}" class="btn btn-noblock btn-lg btn-gray"><i class="fa fa-check-circle" aria-hidden="true"></i> Souscrire</a></li>
                </ul>
              </div>
            </div>
	    {% endfor %}
        </div>
        <div class="col-md-6 col-sm-12 subscription_pitch">
        {% tinycontent 'subscription_pitch' %}
        {% endtinycontent %}
        </div>
    </div> <!-- End Container -->

    <div class="space"></div> <!-- 40px Vertical Spacing -->
</section>
