{% load purchase_info_tags %}
{% load currency_filters %}
{% load bbtricks %}
{% load tinycontent_tags %}

<section id="pricing">
    {% comment remove subs %}
    {% include "partials/sponsor_form.html" %}
    {% endcomment %}
    <div class="space"></div> <!-- 40px Vertical Spacing -->
    {% for sub in subscriptions %}
    {% if user.subscription == None or sub.attr.month == 0 %}
    <div class="p-style1 column_left">
        <div class="package">
            <h4>{{ sub.title | sub_title_split | safe }}</h4>
            {% purchase_info_for_product request sub as session %}
            {% if sub.attr.month != 0 %}
            <h6>{{ session.price.incl_tax | currency:session.price.currency }} pour {{ sub.attr.month }} mois</h6> 
            {% else %}
            <h6>Pour acheter juste ce qui t'intéresse</h6> 
            {% endif %}
        </div>
        <ul class="inclusion">
            <li><a href="{% url 'users:subscription' sub.id %}" class="btn btn-noblock btn-lg btn-gray">
                    <i class="fa fa-check-circle" aria-hidden="true"></i> {% if sub.attr.month != 0 %}Souscrire{% else %}Acheter{% endif %}</a>
            </li>
        </ul>
    </div>
    {% endif %}
    {% endfor %}
</section>

